﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="PrincipalShop.master.cs" Inherits="CapaPresentacion.PrincipalShop" %>

<!DOCTYPE html>

<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>


    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <title>
        Obaju : e-commerce template
    </title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="Source/css/font-awesome.css" rel="stylesheet" />
    <link href="Source/css/bootstrap.min.css" rel="stylesheet" />
    <link href="Source/css/animate.min.css" rel="stylesheet" />
    <link href="Source/css/owl.carousel.css" rel="stylesheet" />
    <link href="Source/css/owl.theme.css" rel="stylesheet" />

    <!-- theme stylesheet -->
    <link href="Source/css/style.default.css" rel="stylesheet" <%--id="theme-stylesheet"--%>>

    <!-- your stylesheet with modifications -->
    <link href="Source/css/custom.css" rel="stylesheet">

    <script src="Source/js/respond.min.js"></script>
    <link rel="shortcut icon" href="favicon.png">
    <script type="text/javascript" src="Estilos/js/jquery-1.11.1.min.js"></script>
    <script src="Estilos/js/Base.js"></script>

    <script type="text/javascript">
        $(function () {
           CargarCategorias();
        });

        function CargarCategorias() {

            try {

                var lista = $("#<%=hfData.ClientID%>").val();
                var lstCategorias = lista == '' ? '{}' : lista;
                var ListaCategorias = $.parseJSON(lstCategorias);

                var cadena = '';
                for (var i = 0; i < ListaCategorias.length; i++){
                    cadena += "<li><a href='frmListProducts.aspx?idmarca=" + ListaCategorias[i].CatId + "'>" + ListaCategorias[i].CatNombre + "</a></li>";
                    $("#DivCategories").html(cadena);
                }
            } catch (e) {
                fn_message('e', 'Error al cargar las categorias', 'message_row');
            }
        }
        function ViewMsj(msj) {
            $("#divMsj").show();
            lblMsj.innerText = msj;
        }
        function fn_ValidateLogin() {
            if ($("input[id$=txtUsuario]").val().replace(/^\s+|\s+$/g, "").length == 0) {
                ViewMsj("Ingrese el Usuario");
                return false;
            } else if ($("input[id$=txtPassword]").val().replace(/^\s+|\s+$/g, "").length == 0) {
                ViewMsj("Ingrese la contraseña");
                return false;
            }
          
            var user = $("input[id$=txtUsuario]").val();
            var pass = $("input[id$=txtPassword]").val();
            
            var success = function (asw) {
                if (asw != null) {
                    if (asw.d.Result == "NoCredenciales") {
                        ViewMsj("Usuario o Password Incorrecto")
                    } else if (asw.d.Result == "NoOk") {
                        ViewMsj("Ocurrio un error mientras Accedia");
                    } else if(asw.d.Result == "Ok") {
                        location.href = "Index.aspx";
                    }
                }
            }
            var error = function (jqXHR, textStatus, errorThrown) {
                fn_message('e', 'A ocurrido un error mientras accedia al sistema', 'message_row');
            }

            fn_callmethod("frmLogin.aspx/Login", '{ user: "' + user + '", pass: "' + pass + '"}', success, error);
        }

    </script>

    <script type="text/javascript">
          var translateWidget = "Select a Language to Search";

          /*  Validation Engine translations - ve (Validation Engine) */
          var veFieldRequired = "This field is required";

          var veSelectOption = "Please select an option";

          var veSelectSelect = "Please select";

          var veChkRequired = "This checkbox is required";

          var veDateRangeRequired = "Both date range fields are required";

          var veFieldEqualTest = "Field must equal test";

          var veInvalid = "Invalid";

          var veDateRange = "Date Range";

          var veDateTimeRange = "Date Time Range";

          var veMinimum = "Minimum";

          var veMaximum = "Maximum";

          var veOptions = "options";

          var veCharsRequired = "characters required";

          var veCharsAllowed = "characters allowed";

          var veFillOneFields = "You must fill one of the following fields";

          var veMimimumValue = "Minimum value is";

          var veMaximumValue = "Maximum value is";

          var veDatePrior = "Date prior to";

          var veDatePast = "Date past";

          var veOptionsAllowed = "options allowed";

          var veFieldsDontMatch = "Fields do not match";

          var veInvalidCCard = "Invalid credit card number";

          var veInvalidPhone = "Invalid phone number";

          var veInvalidMobile = "Invalid mobile number";

          var veInvalidFax = "Invalid fax number";

          var veInvalidEmail = "Invalid email address";

          var veInvalidZip = "Invalid zip format";

          var veInvalidDecimal = "Invalid floating decimal number";

          var veNotValidInteger = "Not a valid integer";

          var veMustBeFirst = "Must be first and last name";

          var veDateFormat = "Invalid date, must be in";

          var veDateFormat2 = "format";

          var veInvalidIP = "Invalid IP address";

          var veInvalidURL = "Invalid URL";

          var veNumbersOnly = "Numbers only";

          var veLettersOnly = "Letters only";

          var veNoSpecialCharsAllowed = "No special characters allowed";

          var veLettersOnly = "Letters only (accents allowed)";

          var veUserTaken = "This user is already taken";

          var veNameTaken = "This name is already taken";

          var veValidatingWait = "Validating, please wait";

          var veUsernameAvailable = "This username is available";

          var veNameAvailable = "This name is available";

          var veInvalidDate = "Invalid Date";

          var veInvalidDateOrFormat = "Invalid Date or Date Format";

          var veExpectedFormat = "Expected Format";

          var veOR = "or";
        </script>

    <script type="text/javascript">

          function updateDataTableSelectAllCtrl(table) {
              var $table = table.table().node();
              var $chkbox_all = $('tbody input[type="checkbox"]', $table);
              var $chkbox_checked = $('tbody input[type="checkbox"]:checked', $table);
              var chkbox_select_all = $('thead input[name="all"]', $table).get(0);

              // If none of the checkboxes are checked
              if ($chkbox_checked.length === 0) {
                  chkbox_select_all.checked = false;
                  if ('indeterminate' in chkbox_select_all) {
                      chkbox_select_all.indeterminate = false;
                  }

                  // If all of the checkboxes are checked
              } else if ($chkbox_checked.length === $chkbox_all.length) {
                  chkbox_select_all.checked = true;
                  if ('indeterminate' in chkbox_select_all) {
                      chkbox_select_all.indeterminate = false;
                  }

                  // If some of the checkboxes are checked
              } else {
                  chkbox_select_all.checked = true;
                  if ('indeterminate' in chkbox_select_all) {
                      chkbox_select_all.indeterminate = true;
                  }
              }
          }

          function fn_validateform(div) {
              if ($("#" + div).validationEngine({ returnIsValid: true }) == true) {
                  return true;
              }
              return false;
          }


    </script>

</head>
<body>
    <form id="form1" runat="server">
         <!-- *** TOPBAR ***
 _________________________________________________________ -->
    <div id="top">
        <div class="container">
            <div class="col-md-6 offer" data-animate="fadeInDown">
                <a href="#" class="btn btn-success btn-sm" data-animate-hover="shake">Offer of the day</a>  <a href="#">Get flat 35% off on orders over $50!</a>
            </div>
            <div class="col-md-6" data-animate="fadeInDown">
                <ul class="menu">
                    <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                    </li>
                    <li><a href="frmRegistrarClientes.aspx">Register</a>
                    </li>
                    <li><a href="contact.html">Contact</a>
                    </li>
                    <li><a href="#">Recently viewed</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
            <div class="modal-dialog modal-sm">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="Login">Customer login</h4>
                    </div>
                    <div class="modal-body">
                        <% if (Session["Cliente"] == null)
                            {
                        %>
                         <div id="divMsj" class="alert alert-warning alert-dismissible" style="display:none"> 
                            <strong>Warning!</strong><h6 id="lblMsj">Indicates a warning that might need attention.</h6>
                        </div>
                            <div class="form-group">
                                <%--<input type="text" class="form-control" id="email-modal" placeholder="email">--%>
                                <asp:TextBox ID="txtUsuario" runat="server" class="form-control" placeholder="email"></asp:TextBox>
                                
                            </div>
                            <div class="form-group">
                                <%--<input type="password" class="form-control" id="password-modal" placeholder="password">--%>
                                <asp:TextBox ID="txtPassword" TextMode="Password" runat="server" class="form-control" placeholder="password"></asp:TextBox>
                            </div>

                            <p class="text-center">
                                <button class="btn btn-primary" id="btnLogin" runat="server" onclick="fn_ValidateLogin(); return false;"><i class="fa fa-sign-in"></i> Log in</button>
                                <%--<asp:Button ID="btnIngresar" class="btn btn-primary" runat="server" Text="Log in" OnClick="btnIngresar_Click" />--%>
                            </p>
                        <p class="text-center text-muted">Not registered yet?</p>
                        <p class="text-center text-muted"><a href="register.html"><strong>Register now</strong></a>! It is easy and done in 1&nbsp;minute and gives you access to special discounts and much more!</p>

                        <%
                          }
                        %>
                        <%
                        else
                           {
                        %>
                            <p class="text-center">
                                <asp:Button ID="btnYes" runat="server" class="btn btn-primary fa fa-sign-in" Text="Yes" OnClick="btnYes_Click" />
                                <button type="button" id="btnCerrar" class="btn btn-default" data-dismiss="modal">No</button>
                            </p>
                            <p class="text-center text-muted">¿Desea cerrar Sesion?</p>
                            <p class="text-center text-muted"><strong>Gracias por visitar nuestra Pagina!.</strong></p>

                        <%
                           }
                        %>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- *** TOP BAR END *** -->

    <!-- *** NAVBAR ***
 _________________________________________________________ -->

    <div class="navbar navbar-default yamm" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand home" href="Index.aspx" data-animate-hover="bounce">
                    <img src="Source/img/logo.png" alt="Obaju logo" class="hidden-xs">
                    <img src="Source/img/logo-small.png" alt="Obaju logo" class="visible-xs"><span class="sr-only">Obaju - go to homepage</span>
                </a>
                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                    <a class="btn btn-default navbar-toggle" href="frmShopCard.aspx">
                        <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs">3 items in cart</span>
                    </a>
                </div>
            </div>
            <!--/.navbar-header -->

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="Index.aspx">Home</a>
                    </li>
                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Men <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>Clothing</h5>
                                            <ul>
                                                <li><a href="category.html">T-shirts</a>
                                                </li>
                                                <li><a href="category.html">Shirts</a>
                                                </li>
                                                <li><a href="category.html">Pants</a>
                                                </li>
                                                <li><a href="category.html">Accessories</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Shoes</h5>
                                            <ul>
                                                <li><a href="category.html">Trainers</a>
                                                </li>
                                                <li><a href="category.html">Sandals</a>
                                                </li>
                                                <li><a href="category.html">Hiking shoes</a>
                                                </li>
                                                <li><a href="category.html">Casual</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Accessories</h5>
                                            <ul>
                                                <li><a href="category.html">Trainers</a>
                                                </li>
                                                <li><a href="category.html">Sandals</a>
                                                </li>
                                                <li><a href="category.html">Hiking shoes</a>
                                                </li>
                                                <li><a href="category.html">Casual</a>
                                                </li>
                                                <li><a href="category.html">Hiking shoes</a>
                                                </li>
                                                <li><a href="category.html">Casual</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Featured</h5>
                                            <ul>
                                                <li><a href="category.html">Trainers</a>
                                                </li>
                                                <li><a href="category.html">Sandals</a>
                                                </li>
                                                <li><a href="category.html">Hiking shoes</a>
                                                </li>
                                            </ul>
                                            <h5>Looks and trends</h5>
                                            <ul>
                                                <li><a href="category.html">Trainers</a>
                                                </li>
                                                <li><a href="category.html">Sandals</a>
                                                </li>
                                                <li><a href="category.html">Hiking shoes</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Ladies <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>Clothing</h5>
                                            <ul>
                                                <li><a href="category.html">T-shirts</a>
                                                </li>
                                                <li><a href="category.html">Shirts</a>
                                                </li>
                                                <li><a href="category.html">Pants</a>
                                                </li>
                                                <li><a href="category.html">Accessories</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Shoes</h5>
                                            <ul>
                                                <li><a href="category.html">Trainers</a>
                                                </li>
                                                <li><a href="category.html">Sandals</a>
                                                </li>
                                                <li><a href="category.html">Hiking shoes</a>
                                                </li>
                                                <li><a href="category.html">Casual</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Accessories</h5>
                                            <ul>
                                                <li><a href="category.html">Trainers</a>
                                                </li>
                                                <li><a href="category.html">Sandals</a>
                                                </li>
                                                <li><a href="category.html">Hiking shoes</a>
                                                </li>
                                                <li><a href="category.html">Casual</a>
                                                </li>
                                                <li><a href="category.html">Hiking shoes</a>
                                                </li>
                                                <li><a href="category.html">Casual</a>
                                                </li>
                                            </ul>
                                            <h5>Looks and trends</h5>
                                            <ul>
                                                <li><a href="category.html">Trainers</a>
                                                </li>
                                                <li><a href="category.html">Sandals</a>
                                                </li>
                                                <li><a href="category.html">Hiking shoes</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="banner">
                                                <a href="#">
                                                    <img src="Source/img/banner.jpg" class="img img-responsive" alt="">
                                                </a>
                                            </div>
                                            <div class="banner">
                                                <a href="#">
                                                    <img src="Source/img/banner2.jpg" class="img img-responsive" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Template <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>Shop</h5>
                                            <ul>
                                                <li><a href="Index.aspx">Homepage</a>
                                                </li>
                                                <li><a href="category.html">Category - sidebar left</a>
                                                </li>
                                                <li><a href="category-right.html">Category - sidebar right</a>
                                                </li>
                                                <li><a href="category-full.html">Category - full width</a>
                                                </li>
                                                <li><a href="detail.html">Product detail</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>User</h5>
                                            <ul>
                                                <li><a href="register.html">Register / login</a>
                                                </li>
                                                <li><a href="customer-orders.html">Orders history</a>
                                                </li>
                                                <li><a href="customer-order.html">Order history detail</a>
                                                </li>
                                                <li><a href="customer-wishlist.html">Wishlist</a>
                                                </li>
                                                <li><a href="customer-account.html">Customer account / change password</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Order process</h5>
                                            <ul>
                                                <li><a href="frmShopCard.aspx">Shopping cart</a>
                                                </li>
                                                <li><a href="checkout1.html">Checkout - step 1</a>
                                                </li>
                                                <li><a href="checkout2.html">Checkout - step 2</a>
                                                </li>
                                                <li><a href="checkout3.html">Checkout - step 3</a>
                                                </li>
                                                <li><a href="checkout4.html">Checkout - step 4</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Pages and blog</h5>
                                            <ul>
                                                <li><a href="blog.html">Blog listing</a>
                                                </li>
                                                <li><a href="post.html">Blog Post</a>
                                                </li>
                                                <li><a href="faq.html">FAQ</a>
                                                </li>
                                                <li><a href="text.html">Text page</a>
                                                </li>
                                                <li><a href="text-right.html">Text page - right sidebar</a>
                                                </li>
                                                <li><a href="404.html">404 page</a>
                                                </li>
                                                <li><a href="contact.html">Contact</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->

            <div class="navbar-buttons">

                <div class="navbar-collapse collapse right" id="basket-overview">
                    <a href="frmShopCard.aspx" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm">3 items in cart</span></a>
                </div>
                <!--/.nav-collapse -->

                <div class="navbar-collapse collapse right" id="search-not-mobile">
                    <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                </div>

            </div>

            <div class="collapse clearfix" id="search">

               
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">

			<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>

		    </span>
                    </div>
                

            </div>
            <!--/.nav-collapse -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#navbar -->

    <!-- *** NAVBAR END *** -->

    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">
                    <div id="message_row"></div>
                    <ul class="breadcrumb">
                        <li><a href="Index.aspx">Home</a>
                        </li>
                        <li>Ladies</li>
                    </ul>
                </div>

                <div class="col-md-3" id="DivLateralIzq">
                    <!-- *** MENUS AND FILTERS ***
 _________________________________________________________ -->
                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Categories</h3>
                        </div>

                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked category-menu">
                                <li>
                                    <a href="category.html">Men <span class="badge pull-right">42</span></a>
                                    <ul id="DivCategories">
                                     <%--   <li><a href="category.html">T-shirts</a>
                                        </li>
                                        <li><a href="category.html">Shirts</a>
                                        </li>
                                        <li><a href="category.html">Pants</a>
                                        </li>
                                        <li><a href="category.html">Accessories</a>
                                        </li>--%>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default sidebar-menu" style="display:none">

                        <div class="panel-heading">
                            <h3 class="panel-title">Brands <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></h3>
                        </div>

                        <div class="panel-body">

                          
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">Armani (10)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">Versace (12)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">Carlo Bruni (15)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">Jack Honey (14)
                                        </label>
                                    </div>
                                </div>

                                <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>


                        </div>
                    </div>

                    <div class="panel panel-default sidebar-menu" style="display:none">

                        <div class="panel-heading">
                            <h3 class="panel-title">Colours <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></h3>
                        </div>

                        <div class="panel-body">

                          
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> <span class="colour white"></span> White (14)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> <span class="colour blue"></span> Blue (10)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> <span class="colour green"></span> Green (20)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> <span class="colour yellow"></span> Yellow (13)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> <span class="colour red"></span> Red (10)
                                        </label>
                                    </div>
                                </div>

                                <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>


                        </div>
                    </div>

                    <!-- *** MENUS AND FILTERS END *** -->

                    <div class="banner">
                        <a href="#">
                            <img src="Source/img/banner.jpg" alt="sales 2014" class="img-responsive">
                        </a>
                    </div>
                </div>
                <div>
                <div class="col-md-9" id="RowContentProducts">
                    <div class="box" id="DivBox">
                    
                         <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                         </asp:ContentPlaceHolder>
                       
                       
                    </div>   
                </div>
                <!-- /.col-md-9 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


        <!-- *** FOOTER ***
 _________________________________________________________ -->
        <div id="footer" data-animate="fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h4>Pages</h4>

                        <ul>
                            <li><a href="text.html">About us</a>
                            </li>
                            <li><a href="text.html">Terms and conditions</a>
                            </li>
                            <li><a href="faq.html">FAQ</a>
                            </li>
                            <li><a href="contact.html">Contact us</a>
                            </li>
                        </ul>

                        <hr>

                        <h4>User section</h4>

                        <ul>
                            <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                            </li>
                            <li><a href="#">Regiter</a>
                            </li>
                        </ul>

                        <hr class="hidden-md hidden-lg hidden-sm">

                    </div>
                    <!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">

                        <h4>Top categories</h4>

                        <h5>Men</h5>

                        <ul>
                            <li><a href="category.html">T-shirts</a>
                            </li>
                            <li><a href="category.html">Shirts</a>
                            </li>
                            <li><a href="category.html">Accessories</a>
                            </li>
                        </ul>

                        <h5>Ladies</h5>
                        <ul>
                            <li><a href="category.html">T-shirts</a>
                            </li>
                            <li><a href="category.html">Skirts</a>
                            </li>
                            <li><a href="category.html">Pants</a>
                            </li>
                            <li><a href="category.html">Accessories</a>
                            </li>
                        </ul>

                        <hr class="hidden-md hidden-lg">

                    </div>
                    <!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">

                        <h4>Where to find us</h4>

                        <p><strong>Obaju Ltd.</strong>
                            <br>13/25 New Avenue
                            <br>New Heaven
                            <br>45Y 73J
                            <br>England
                            <br>
                            <strong>Great Britain</strong>
                        </p>

                        <a href="contact.html">Go to contact page</a>

                        <hr class="hidden-md hidden-lg">

                    </div>
                    <!-- /.col-md-3 -->



                    <div class="col-md-3 col-sm-6">

                        <h4>Get the news</h4>

                        <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                   
                            <div class="input-group">

                                <input type="text" class="form-control">

                                <span class="input-group-btn">

			    <button class="btn btn-default" type="button">Subscribe!</button>

			</span>

                            </div>
                            <!-- /input-group -->
                       

                        <hr>

                        <h4>Stay in touch</h4>

                        <p class="social">
                            <a href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
                        </p>


                    </div>
                    <!-- /.col-md-3 -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#footer -->

        <!-- *** FOOTER END *** -->




        <!-- *** COPYRIGHT ***
 _________________________________________________________ -->
        <div id="copyright">
            <div class="container">
                <div class="col-md-6">
                    <p class="pull-left">© 2015 Your name goes here.</p>

                </div>
                <div class="col-md-6">
                    <p class="pull-right">Template by <a href="https://bootstrapious.com/e-commerce-templates">Bootstrapious</a> & <a href="https://fity.cz">Fity</a>
                         <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
                    </p>
                </div>
            </div>
        </div>
        <!-- *** COPYRIGHT END *** -->

    <asp:HiddenField ID="hfData" runat="server" />
     <asp:HiddenField ID="hfProrductsItem" runat="server" />

    </div>
    <!-- /#all -->

        
    </form>
        <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    <script src="Source/js/jquery-1.11.0.min.js"></script>
    <script src="Source/js/bootstrap.min.js"></script>
    <script src="Source/js/jquery.cookie.js"></script>
    <script src="Source/js/waypoints.min.js"></script>
    <script src="Source/js/modernizr.js"></script>
    <script src="Source/js/bootstrap-hover-dropdown.js"></script>
    <script src="Source/js/owl.carousel.min.js"></script>
    <script src="Source/js/front.js"></script>


     <link href="/src/css/validationEngine.jquery.css" rel="stylesheet" />
     <link  href="/src/css/template.css" rel="stylesheet" type="text/css"/>
     <script src="src/js/jquery.validationEngine.js" type="text/javascript"></script>
     <script src="src/js/languages/jquery.validationEngine-en.js"></script>
</body>
</html>
