﻿.ui-jqgrid-hbox table thead tr th[role='columnheader'] {
    background: #005490 !important;
    color: white;
    border-right: 0px none;
}

.ui-jqgrid-btable tbody > tr:nth-child(even) > td,
.ui-jqgrid-btable tbody > tr:nth-child(even) > th {
    background-color: #ECECEC !important;
}

.ui-jqgrid-htable thead:first-child tr:first-child > th:first-child, 
.ui-jqgrid-htable tbody:first-child tr:first-child > td:first-child, 
.ui-jqgrid-htable tbody:first-child tr:first-child > th:first-child {
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}

.ui-jqgrid-htable thead:first-child tr:first-child > th:last-child,
.ui-jqgrid-htable tbody:first-child tr:first-child > td:last-child,
.ui-jqgrid-htable tbody:first-child tr:first-child > th:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-right: 1px solid #dddddd;
}

.ui-widget-content {
     border:none !important;
    /*border: 1px solid #cccccc;*/
    /*background: #ffffff url(images/ui-bg_flat_55_ffffff_40x100.png) 50% 50% repeat-x;*/
    color: #444444;
}

.ui-state-default {  }
.ui-state-default:hover {  }

.edit-button {
    margin: 2px !important;
    padding: 4px 0;
    border: 1px solid #d3d3d3/*{borderColorDefault}*/; 
    background: #e6e6e6/*{bgColorDefault}*/ url(images/e6e6e6_40x100_textures_02_glass_75.png)/*{bgImgUrlDefault}*/ 0/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/; 
    font-weight: normal/*{fwDefault}*/; 
    color: #555555/*{fcDefault}*/; 
    outline: none;
    width: 20px;
	height: 20px;
    background-image: url(images/888888_256x240_icons_icons.png);
    background-position: -64px -112px;
    -moz-border-radius: 4px/*{cornerRadius}*/;
    -webkit-border-radius: 4px/*{cornerRadius}*/;
}

.edit-button:hover {
    padding: 4px 0;
    border: 1px solid #999999/*{borderColorHover}*/; 
    background: #dadada/*{bgColorHover}*/ url(images/dadada_40x100_textures_02_glass_75.png)/*{bgImgUrlHover}*/ 0/*{bgHoverXPos}*/ 50%/*{bgHoverYPos}*/ repeat-x/*{bgHoverRepeat}*/; 
    font-weight: normal/*{fwDefault}*/; 
    color: #212121/*{fcHover}*/; 
    outline: none;
    background-image: url(images/454545_256x240_icons_icons.png)/*{iconsHover}*/;
    background-position: -64px -112px;
}
.ui-jqgrid .ui-jqgrid-btable {
border: 1px solid black;
}
.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
      border-left: 1px solid white !important;
}
.ui-jqgrid tr.ui-row-ltr td {
    border-right-style: none !important;
}
.ui-state-default.ui-jqgrid-hdiv {
    border: 1px solid white !important;
}
tr.ui-search-toolbar {
  border: 1px solid;
}
th.ui-state-default.ui-th-column.ui-th-ltr {
  padding: 2px;
}
tr.ui-search-toolbar input {
  border-radius: 6px;
}
