﻿#jqtreexss {height:998px;overflow:hidden;position:relative;width:100%;}
ul#wrapper-tree { }

ul#wrapper-tree li {cursor:pointer;margin:3px 0; display: inline-table;}
ul#wrapper-tree li ul {padding-left: 10px;display: table;width: 100%;box-sizing: content-box; }

ul#wrapper-tree li ul ul:not(:first-child) { border-left: 1px dotted #dedede; }


.showing-name {text-overflow: ellipsis;white-space: nowrap;overflow: hidden;display: inline-block;width: 150px;}
.showing-value {display: inline-block;width: 25px;text-align: center;vertical-align: top;}
.showing-icon {display: inline-block;width: 25px;text-align: center;vertical-align: super;height: 10px;}

.showing-name, .showing-value { color: white;font-size:12px; }



.arrow-state {background-repeat: no-repeat;background-position: center; height: 14px;border: none;float: left;clear: both;width: 16px;background-color: transparent;}
.arrow-showing {background-image: url(/src/images/icon-down.png);}
.arrow-hidding {background-image: url(/src/images/icon-right.png);}
