﻿/*.cellProd tr > td {
    padding: 13px;
}*/

.title_step {
        background-color: #0893CE;
        color: white;
        font-size: 14px;
        padding: 5px 10px;
        margin-left: 10px;
}


.style_alert {
    margin: 2px 0px;
}

.wrap-ddlday {
    margin-bottom: 5px;position: relative;display:inline-block;
}

.details {
    color: #4bbcfd;
    font-size: 14px;
    padding-left: 5px;
}

.details:hover {
    text-decoration: underline;
    cursor: default;
}

#div_total .panel-body {
    padding: initial;
    /*font-size: 18px;*/
}

td {
    border: 1px solid #ddd;
    text-align: center;
}

thead th {
    background-color: #f7f7f7;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.tdTam {
    width: 28%;
}

@media (max-width: 567px) and (min-width: 200px) {
    .pro_title {
        font-size: 12px;
    }
    .tdTam {
        width: 100%;
        padding-left: 0px !IMPORTANT;
    }

    .pro-qty {
        padding-left: 50%;
    }
}

@media only screen and (max-width: 991px) {
    .wrap-ddlday {display:block;}
}

@media only screen and (max-width: 800px) {
    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        #no-more-tables thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    #no-more-tables tr {
        border: 1px solid #ccc;
    }

    #no-more-tables td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }

        #no-more-tables td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
        }

        /*
Label the data
*/
        #no-more-tables td:before {
            content: attr(data-title);
            left: 10%;
            top: 40%;
        }

    .tdTam {
        width: 100%;
        padding-left: 50%;
    }

  
}
@media (max-width:800px) {

  .pro-qty {
        padding-left: 42%;
    }
}


@media (max-width:799px) {

  .pro-qty {
        padding-left: 42%;
    }
}

@media (max-width:600px) {

  .pro-qty {
        padding-left: 38%;
    }
}

@media (max-width:425px) {

  .pro-qty {
        padding-left: 33%;
    }
}

@media (max-width:375px) {

  .pro-qty {
        padding-left: 29%;
    }
}

@media (max-width:320px) {

  .pro-qty {
        padding-left: 23%;
    }
}

@media (max-width:292px) {

  .pro-qty {
        padding-left: 25%;
    }
}


#wrapper_contentproducts {
    position: relative;
}

.loader-snake-jax {
    background: rgba(34, 34, 34, 0.7) url(/Public/src/img/ajax-loader.gif) no-repeat center top;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.loader-snake-jax-transp {
    background: url(/Public/src/img/ajax-loader.gif) no-repeat center top;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.wrapper-jxloader {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 34px;
    vertical-align: middle;
}

.cellProd {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.table thead th {
    background-color: rgb(244, 244, 244) !important;
}

.table thead > tr > th {
    border-bottom: 1px solid #dddddd;
}

/*.tblProducts .cellProd tr {
    cursor: pointer;
}*/

.table tbody > tr > td {
    border: none;
}

.font-w-700 {
    font-weight: 700;
}

.img {
    text-align: left;
    width: 40%;
}

.customizeFont {
            color: #4bbcfd;
            font-size: 14px;
            padding-left: 5px;
        }

        .customizeFont:hover {
            text-decoration: underline;
            cursor: pointer;
        }