﻿
/* INI - Dtavara - 02/12/2015 - agregado para resolver problema de top en summary cuando hay alert */
.RightBar {
  /*top: 25px !important;*/
  /*height: 1414px !important;*/
  background: #565656 !important;
  /*padding:0 10px;*/
  z-index: 100 ;
  /*top: 155px ;*/
}

@media  (min-width: 1251px) {
    .RightBar {
        top: 130px !important;
    }
}

@media  (min-width: 968px) and (max-width: 1250px) {
    .RightBar {
        top: 140px !important;
    }
}
@media  (min-width: 402px) and (max-width: 967px) {
    .RightBar {
        top: 145px !important;
    }
}
@media  (min-width: 299px) and (max-width: 401px) {
    .RightBar {
        top: 145px !important;
    }
}

.RightBarAlert {
  /*top: 25px !important;*/
  /*height: 1414px !important;*/
  background: #565656 !important;
  padding:0 10px;
  z-index: 100 ;
  /*top: 155px ;*/
}


@media  (min-width: 1251px) {
    .RightBarAlert {
        top: 181px !important;
    }
}

@media  (min-width: 968px) and (max-width: 1250px) {
    .RightBarAlert {
        top: 191px !important;
    }
}

@media  (min-width: 402px) and (max-width: 967px) {
    .RightBarAlert {
        top: 196px !important;
    }
}
@media  (min-width: 299px) and (max-width: 401px) {
    .RightBarAlert {
        top: 196px !important;
    }
}
/* FIN - Dtavara - 02/12/2015 - agregado para resolver problema de top en summary cuando hay alert */






#page-rightbar {
       border-left: none !important; 
       width:314px ;
       /*top:112px !important;*/
       color:white;    
       border-top: 1px solid #7d7e80;    
       margin-top: 20px;
}
    #page-rightbar > div {
        padding:0px !important;
    }
/*@media  (min-width: 968px) and (max-width: 968px) {
    #page-rightbar {
        top: 188px ;
    }
}
@media  (min-width: 402px) and (max-width: 967px) {
    #page-rightbar {
        top: 196px ;
    }
}
@media  (min-width: 299px) and (max-width: 401px) {
    #page-rightbar {
        top: 217px ;
    }
}*/
body.show-rightbar, .widget-heading {
    background-color:#2C4969 !important; 
}
body.show-rightbar, .widget-heading a h4 {
    color:#FFFDFD !important;
    }

#rightmenu-trigger {
    background-position:0 !important;
    width: 110px !important;
}
#rightmenu-trigger:hover {
   background-position: 0 !important; 
}

@media (max-width: 1399px) and (min-width: 1300px) {
    .gen_FooterBox {
        width: 141px;
       font-size: 11px;
    }
}