﻿.myForm1_top_buttons
{
    margin-left:275px !important;
    margin-top: 30px !important;
    width: 71% !important;

} 
        
#div3_example 
{
    margin: -63px 22px 30px !important;
    border: solid 1px rgb(61, 61, 70) !important;
    width: 205px !important;
    height: 230px !important;
}

#dvgrid
{
    margin-left: 271px !important;
    margin-top: -215px !important;
}

#divg3 
{
    min-height: 400px;
}