﻿.bg-color {
    background-color: #005490;
}

.control-row {
    min-width: 190px;
    width: 30%;
    padding: 3px 3px;
}

.control-columns-header {
    min-width: 185px;
    width: 29%;
    padding: 3px 3px;

}

.icon-row {
    padding-top: 0.6em;
    margin-right: 0.6em;
    float: right;
}

.left {
    float: left;
}

.left select {
        width: 100% !important;
    }

.chosen-container.chosen-container-multi {
    width: 100% !important;
    margin-top: 1px;
}

.options-margin {
    margin-left: .4em !important;
}

.number-align {
    margin: 8px 4px 0px 0px;
    font-weight: bold;
}

.help {
    cursor: help;
}
 
.right-align {
    float: right;
}

.add-margin {
    margin: 4px 3px 0px 0px;
}

.rg-margin {
    margin-right: 5px; 
    margin-bottom: 5px;
}

.tp-margin {
    margin-top: -5px;
}

.style-inline-block {
    display: inline-block;
}

.static-width {
   min-width: 195px;
   margin: 0px 0px;
}

.clear {
    clear: both;
}

@media screen and (max-width: 400px) {
    .add-margin {
        margin: 0px 0px 0px 3px;
    }
}

@media only screen and (max-width: 900px) {
	table td:nth-child(4), 
	table th:nth-child(4) {display: none;}
}
 
/*@media only screen and (max-width: 760px) {
	table td:nth-child(4),
	table th:nth-child(4),
	table td:nth-child(7),
	table th:nth-child(7),
	table td:nth-child(8),
	table th:nth-child(8){display: none;}
    table td:nth-child(9),
    table th:nth-child(9) {display:none;}
}*/

@media screen and (max-width: 568px) {
    .no-margin {
        margin: 0px;
    }
}

@media screen and (max-width: 991px) {
    .bt-margin {
        margin-bottom: .5em !important;
    }
}