.panel-border {

    border: 1px solid rgb(232, 232, 232) !important;
}
.selectallchk-country {
left: 844px;
top: 109px;
position: absolute;
z-index: 2;
}

.selectallchk-language {
left: 647px;
top: 58px;
position: relative;
z-index: 2;
}

.menu-grid-item {


    text-align: center;
}

.tag-popup {
color: #1a8eca!important;
font-size: 11px;
cursor: pointer;
}

.pressroom-lngtext {
font-size: 18px;
font-weight: normal;
color: #ff9900;
}

#divTo .tagbox ul { 
    height:30px !important;
}



/* New css Styles for Eder's forms
**********************************/


.container-menunav .list-menunav
{
	width: 100%;
	height: 50px;
	margin-top: 15px;
	background: #1a8eca;
	border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
}

.container-menunav .list-menunav .menunav-item
{
	float: left;
	border: 1px solid #cecece;
	color: White; 
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 32px;
    font-size: 10px;
    text-align: center;
    margin: 8px 0 0 3px;
    position: relative;
	text-decoration: none;
	margin-left: 5px;
    background-color: rgba(26, 142, 202, 0.72);
    overflow: hidden;
	
}


.container-menunav .list-menunav .menunav-item span
{
    cursor: pointer;
    font-size: 12px;
}

.menu-content-height ul
{
    list-style-type: none !important;
}

.menu-content-height .form-control {
font-size:10px !important
}
.menu-content-height ul, ol {
margin-bottom: 0;
padding-left: initial;
}

.container-menunav .list-menunav .menunav-item .vertical-menu .item {
position: relative;
font-size: 9px;
padding: 1px 0 0 3px;
text-align: left;
text-decoration: none;
}

.submenus-options {
position: absolute;
right: 2px;
top: 8px;
background-color: #1a8eca;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
}


.home { width: 101px!important;}
.product { width: 199px!important; }
.science { width: 170px!important; }
.opportunity { width: 235px!important; }
.company { width: 140px!important; }
.join { width: 90px!important; }
.order { width: 90px!important; }



.template-container input, textarea  :not(.note-codable) {
color:black !important;
}


#divfanfare td, #divfanfare p{
/*font-size:10px !important;*/
}
/*.formError {
  z-index: 99999 !important;
}*/

@media only screen and  (max-width: 1328px) {

     .ui-jqgrid.ui-widget.ui-widget-content.ui-corner-all {
        overflow-x: scroll;
        overflow-y: auto;
        width: auto !important;
      }
}



.ui-jqgrid-bdiv {
            overflow:initial !important;
        }

.loader_fb_16x16 {
            background: rgba(0, 0, 0, 0.4) url(../../src/images/loading.gif) no-repeat center center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index:999;
        }