﻿.Option-Notification {
    padding-bottom:25px;
}
.Panel-Inbox {
    padding-top:2px;
    padding-bottom:2px;
}
.Mrg-Btm-15px {
    margin-bottom:15px;
}


@import url('tags.css');

.container .MainContent .ui-jqgrid 
{
    color: #444444;
    /*padding:10px;*/
    float:left;

   -webkit-box-shadow: inset 0 -3px 12px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0 -3px 12px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 -3px 12px rgba(255, 255, 255, 0.5);
    background: #f6f6f6;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#f1f1f1');
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#f1f1f1));
    background: -moz-linear-gradient(top, #f6f6f6, #f1f1f1);
    background: -o-linear-gradient(top, #f6f6f6, #f1f1f1);

    
    text-shadow: 0 0 1px #ccc;
    border-top-color: #ccc;
    border-bottom-color: #aaaaaa;
    background: #f1f1f1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#e8e8e8');
    background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e8e8e8));
    background: -moz-linear-gradient(top, #f1f1f1, #e8e8e8);
    background: -o-linear-gradient(top, #f1f1f1, #e8e8e8);
} 


.container nav  {
    -webkit-box-shadow:  2px 2px 4px rgba(0,  0,  0,  0.1);
    -moz-box-shadow:  2px 2px 4px rgba(0,  0,  0,  0.1);
    box-shadow:  2px 2px 4px rgba(0,  0,  0,  0.1);

     border-right: 0px solid;
     border-left: 1px solid;
     -webkit-border-bottom-right-radius: 4px;
     -moz-border-radius-bottomright: 4px;
     border-bottom-right-radius: 4px;
}


 .container nav {
     float:left;
     display:block;
     margin:0 10px;
     width:116px;
     border-right-color: #e1e1e1 !important;
     border-left-color: #e1e1e1;
 }

 .container nav ul {
     border-top: 1px solid;
     margin: 0;
     -webkit-border-bottom-left-radius: 4px;
     -moz-border-radius-bottomleft: 4px;
     border-bottom-left-radius: 4px;
     -webkit-border-bottom-right-radius: 4px;
     -moz-border-radius-bottomright: 4px;
     border-bottom-right-radius: 4px;
 }
 .container nav ul li {
     list-style: none;
     padding: 0;
     margin: 0;
     background-repeat: no-repeat;
     background-position: -9999px;
     
 }

.container #nav{
    padding-left: 0px!important;
}
 .container nav ul li a {
     display: block;
     padding-right: 0;
 }
.container nav ul li a span {
     padding: 12px 40px 11px;
     font-size: 14px;
     display: block;
     border: 1px solid;
     border-left: 0;
     border-right: 0;
     background-repeat: no-repeat;
     background-position: 12px 10px;
     white-space: nowrap;
 }
.container nav ul li a:hover {
     text-decoration: none;
     cursor: pointer;
     padding-right: 0px;
 }
.container nav ul li a:active,  nav ul li a.active {
     padding-right: 0px;
     padding-bottom: 0px;
     background-repeat: repeat-x;
     background-position: left center;
     filter: none;
 }
.container nav ul li a:active span,  nav ul li a.active span {
     border-bottom: 0;
     padding: 12px 40px 12px;
 }
.container nav ul li ul {
     border: 0;
     margin-right: 10px;
     margin-left: 10px;
     display: none;
     margin-bottom: 10px;
 }
.container nav ul li ul li:first-child a {
 }
.container nav ul li ul li:last-child,  nav ul li ul li:last-child a,  nav ul li ul li:last-child a span {
     -webkit-border-bottom-left-radius: 4px;
     -moz-border-radius-bottomleft: 4px;
     border-bottom-left-radius: 4px;
     -webkit-border-bottom-right-radius: 4px;
     -moz-border-radius-bottomright: 4px;
     border-bottom-right-radius: 4px;
 }
.container nav ul li ul li {
     -webkit-border-radius: 0;
     -moz-border-radius: 0;
     border-radius: 0;
 }
.container nav ul li ul li a {
     padding-right: 0;
     -webkit-border-radius: 0;
     -moz-border-radius: 0;
     border-radius: 0;
 }
.container nav ul li ul li a span {
     border: 0;
     font-size: 12px;
     line-height: 12px;
     border-top: 1px solid #ddd;
     padding-top: 6px;
     padding-bottom: 6px;
     padding-left: 15px;
     background-position: -9999px;
     -webkit-border-radius: 0;
     -moz-border-radius: 0;
     border-radius: 0;
 }
 /*nav ul li ul li:first-child a span {
 }
 nav ul li ul li a:active,  nav ul li ul li a.active {
 }*/
.container nav ul li ul li a:active span,  nav ul li ul li a.active span {
     background-position: -9999px;
     padding-top: 6px;
     padding-bottom: 6px;
     padding-left: 15px;
 }


.container nav ul {
     border-top-color: #e1e1e1;
     background-color: #2e2e33;
 }
.container nav ul li {
     background-image: none !important;
 }
.container nav ul li a {
     background: #f1f1f1;
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1',  endColorstr='#e8e8e8');
     background: -webkit-gradient(linear,  left top,  left bottom,  from(#f1f1f1),  to(#e8e8e8));
     background: -moz-linear-gradient(top,  #f1f1f1,  #e8e8e8);
     background: -o-linear-gradient(top,  #f1f1f1,  #e8e8e8);
 }
.container nav ul li a:hover {
     background: #f6f6f6;
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6',  endColorstr='#f1f1f1');
     background: -webkit-gradient(linear,  left top,  left bottom,  from(#f6f6f6),  to(#f1f1f1));
     background: -moz-linear-gradient(top,  #f6f6f6,  #f1f1f1);
     background: -o-linear-gradient(top,  #f6f6f6,  #f1f1f1);
 }
.container nav ul li a span {
     color: #353535;
     text-shadow: 0px 1px 0 #ffffff;
     border-color: #ffffff #f7f7f7 #dddddd #f7f7f7;
 }
.container nav ul li a:active,  nav ul li a.active_li {
     background:#4297d7;
     filter: none;
 }

.container nav ul li a:active span,  nav ul li a.active_li span {
    
     color: #ffffff;
     text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.3);
 }
.container nav ul li ul {
     border-bottom-color: #dddddd;
 }
.container nav ul li ul li {
     /*background-image: none !important;*/
 }
 /*nav ul li ul li a {
 }*/
.container nav ul li ul li a span {
     border-top-color: #dddddd;
     /*background-image: none !important;*/
 }

 /*THEME*/
.container nav {
     border-top-color: #e1e1e1;
 }
.container nav ul  {
     background: #f1f1f1;
 }
.container nav ul li a span {
     border-left-color: #e1e1e1;
 }
.container nav ul li.i_inbox a span,  .i_inbox {
     background-image:  url(images/icons/color/inbox.png);
}
.container nav ul li.i_sent a span,  .i_sent {
    background-image:  url(images/icons/color/sent.png);
} 
.container nav ul li.i_trash a span,  .i_trash {
    background-image:  url(images/icons/color/trash.png);
}


/*
    *******************************/

.container .btn_email{

    /*background-color: #e8e8a2;*/
    background-color: #e6e6e6;

    border-color: #c7c7c7 #b2b2b2 #b2b2b2 #c7c7c7;
    text-shadow: 0 1px 0 rgba(255,255,255,0.7);
    color: #555555;
    
    border: 1px solid;
    position: relative;
    padding:9px 16px 9px 30px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 4px 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 11px;
    font-weight: 700;
    outline: 0 none;
    text-align: center;
    text-transform: uppercase;
    margin: 2px;
    min-height: 22px;
    min-width: 86px;
    white-space: pre-line;
    vertical-align: baseline;

        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 2px 5px rgba(255, 255, 255, 0.5), inset 0 -2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 2px 5px rgba(255, 255, 255, 0.5), inset 0 -2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 2px 5px rgba(255, 255, 255, 0.5), inset 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.container .icon_mail_send {
    background: url(images/icons/color/email_send.gif) 5px 10px no-repeat;
}
.container .icon_mail_cancel {
    background: url(images/icons/color/cancel.gif) 5px 8px no-repeat;
}

/*
    **************************************************/
/*.cleditor {

    width: 700px !important;
    clear: left !important;
    float: left !important;
}*/