﻿.ui-jqgrid .ui-pg-input {
  height: 20px;
  font-size: .8em;
  margin: 0em;
 
}
th {
    vertical-align: middle !important;
}

 /*@media only screen and (min-width: 605px) and (max-width:871px )  {
     .modal-dialog {
        width: 100% !important
      }
      .modal-content
        {
            width: 600px !important;
        }
    }

 @media only screen and (min-width: 510px) and (max-width:605px )  {
     .modal-dialog {
        width: 100% !important
      }
      .modal-content
        {
            width: 500px !important;
        }
    }
 @media only screen and (min-width: 297px) and (max-width:509px )  {
     .modal-dialog {
        width: 100% !important
      }
      .modal-content
        {
            width: 286px !important;
        }
    }*/