/*==================theme====================*/
.themeBlue{
	font:1em Arial, Helvetica, sans-serif normal;
}
.themeBlue .row_label_left{
	color:#666;
	font-weight:bold;
}
.themeBlue .myForm1 h2{
	font-size:2em;
}

.themeBlue textarea, .themeBlue  select,.themeBlue input[type="text"],.themeBlue input[type="password"]  { 
	background: #F8F8F8;
	border-top: 1px solid #D8DDDF;
	border-bottom: 1px solid #D8DDDF;
	border-left: 1px solid #D8DDDF;
	border-right: 1px solid #D8DDDF;
	-moz-box-shadow: 0 8px 18px -11px #000;
	-webkit-box-shadow: 0 8px 18px -11px black;
	box-shadow: 0 4px 18px -11px black;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
/*=== SE AGREGO EL CSS PARA TIPO button==26/12/2012=== rmera*/
.themeBlue input[type="reset"],.themeBlue input[type="submit"],.themeBlue input[type="button"]{ 
	background: #666;
	color:#fff;
	border-top: 1px solid #D8DDDF;
	border-bottom: 1px solid #D8DDDF;
	border-left: 1px solid #D8DDDF;
	border-right: 1px solid #D8DDDF;
	-moz-box-shadow: 0 8px 18px -11px #000;
	-webkit-box-shadow: 0 8px 18px -11px black;
	box-shadow: 0 4px 18px -11px black;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.themeBlue input[type="reset"]:hover,.themeBlue input[type="submit"]:hover,.themeBlue input[type="button"]:hover { 
	background: #888;
	cursor:pointer;
	
}
/*====================rmera=================*/	
.themeBlue input, .themeBlue select { vertical-align:middle; font-weight:normal;}



/*==================forms====================*/
.myForm1{

	/*margin:5px;*/
	/*padding:5px;
	width:100%;*/
    background: white
}
.myForm1 h2{
	margin-right:7px;
	margin-top:2px;
	/*padding:5px;*/
	font-size:2em;
}
.myForm1_alert .style_alert
{
    font-size:1em;
	color: #666;
    font-weight: bold;
    margin:0px;
    padding:0px;
 }
.myForm1 p{
	/*margin:5px;
	padding:6px;*/
	font-size:1em;
	color: #666;
    font-weight: bold;
    line-height:40px;
}
.myForm1 h3
{
    /*Se modifico H3*/
	font-size: 18px;
    color: #393939;
    line-height: 35px;
    margin-right: 7px;
}
.myForm1 h5{
	margin: 5px;

	font-size: 18px;
	color: #393939;
}
.myForm1 .row{
	padding: 8px;
}
.myForm1 .row_dialog{
	padding: 8px 0px 0px 2px;
}
.myForm1 .row_label_left{
	width: 180px;
	float: left;
	text-align: left;
	margin-right: 10px;
	font-size: 12px;
	padding: 5px;
}
.myForm1 .row_label_left105{
	width: 105px;
	float: left;
	text-align: left;
	margin-right: 10px;
	font-size: 12px;
	padding: 5px;
}
.myForm1 .row_label_left38{
	width: 38px;
	float: left;
	text-align: left;
	margin-right: 10px;
	font-size: 12px;
	padding: 5px;
}
.myForm1 input[type="text"]:not(.ui-pg-input),.myForm1 input[type="password"] { 
	width: 200px;
	padding: 5px;
}
.myForm1  select:not(.ui-pg-selbox) { 
	width: 212px;
	padding: 5px;
	
}
.myForm1 input[type="number"] { 
	width: 200px;
	padding: 5px;
	
}

.myForm1 input[type="radio"] { 
	min-width:25px;
}
.myForm1 textarea { 
 	width: 458px;
    height: 250px;
	/*max-width:500px;*/
}

.myForm1 textarea, .myForm1  select,.myForm1 input[type="text"],.myForm1 input[type="password"]  { 
	margin-right:5px;
}
 
 .myForm1_buttons{
	 padding-left: 209px !important;
	 margin-left: -15px !important;  
	 margin-right: 0px !important;    margin-bottom: -15px !important;    padding-left: 195px;  -webkit-border-radius: 0px 0px 4px 4px;  -moz-border-radius: 0px 0px 4px 4px;  border-radius: 0px 0px 4px 4px;
	 margin-left: 0px !important;
	 padding:5px;
	 padding: 19px 20px 20px;    margin-bottom: 20px;    
	 border-top: 1px solid #e5e5e5;
}
  .myForm1_buttons_mf10{
	 margin-left:10px;
	 padding:5px;
}
/*=== SE AGREGO EL CSS PARA TIPO button==26/12/2012=== rmera*/
.myForm1 input[type="reset"],.myForm1 input[type="submit"],.themeBlue input[type="button"] { 
	padding: 3px 10px;
}
/*===================rmera==================================*/
/*==================top menu ====================*/

.myForm1_top_buttons{
	margin: 10px 0 10px 0;
	padding: 5px;
	 overflow: hidden;
	border: 1px solid #E8E6DE;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	width: 98%;
}
.myForm1_top_buttons li{
	 display:inline-block;
	 float:left;
	 margin-right:5px;
	 /*padding:5px;*/
	 padding-top:5px;
	 padding-bottom: 5px;
	 padding-left:15px;
	 padding-right:15px;
}
.myForm1_top_buttons li a
{
    text-decoration:none;
}
.myForm1_top_buttons li a:hover
{
    cursor:pointer;
}
/*==================alert====================*/

.myForm1_alert{
	padding:10px 15px;	 
	margin:10px 0 5px 10px;
	overflow:hidden;
	background-color:#f2f2f2;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
	-moz-box-shadow: 0 8px 18px -11px #000;
	-webkit-box-shadow: 0 8px 18px -11px black;
	box-shadow: 0 4px 18px -11px black;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.myForm1_alert p{
	float:left;
	line-height:30px;
	
}

.icon_acceptcheckconfirmedgogreenokpositiveyes{
		background-position:0 -26px;

}
.icon_alert_blockcanceldeleteapprove{
	background-position:-32px -26px;
	
}
.icon__alert_information{
	background-position:-67px -26px;
}

.icon_acceptcheckconfirmedgogreenokpositiveyes, .icon_alert_blockcanceldeleteapprove, .icon__alert_information{
	background-image:url(../images/sprite.png);
	display:block;
	width:32px;
	height:32px;
	float:left;
	margin-right:10px;
}
/*==================forms====================*/
.myForm1_top_buttons .ui-icon
{
    margin: 0 -19px -15px;
    
}

/*=================rmera help=====================*/

.textstyle
{
    color:#666;
	font-weight:bold;
	font-size:12px;
	padding-top: 8px;
    padding-bottom: 8px;
}
.selected
{
    color:White;
    background:#39A144;
    border-top: 1px solid #39A144;
	border-bottom: 1px solid #39A144;
	border-left: 1px solid #39A144;
	border-right: 1px solid #39A144;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    padding:1px;
   
    
}


.selected2 
{
    color: White;
    background: #39A144 !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}


.centerbody
{
    width: 60%;
    margin: 15px auto;
    
    padding: 7px 0px;
    
}
.row_left
{
    margin-left:-35px;
    
}
.imgstyle
{
    margin-left: 190px;
padding-top: 22px;
padding-bottom: 22px;
}
.textwidth
{
    margin-left: 37px;
    margin-top: -13px;
    width: 114px;
}
.inputwidth
{
    margin-left:11px;
}
.divwith
{
    
}
/*===========================================*/
/*=========rmera 26/12/2012 Se agrego estilo para los botones de buscar que aparecen junto a la caja de texto=====================*/
.row a
{display:inline-block;
display:-webkit-inline-box;
display:-moz-inline-box;
	 margin-top:-1px;
	 /*padding:5px;*/
	 padding-top:5px;
	 padding-bottom: 5px;
	 padding-left:15px;
	 padding-right:15px;
	 margin-bottom:10px; 
    text-decoration:none;
}
.display:hover
{
    cursor:pointer;
    
 }
.display
{ /*Se modifico los botones display*/
   float: left;
    height: 34px;
    margin-top: 15px;
    margin-left: 8px;
 }
 .display ul li span
 {
     margin:0 0 0 0;
  }

 #edit:hover
{
    cursor:pointer;
    
 }
 #edit 
 {
      width: 19px;
      margin-left: 514px;

      float: left; 
     
 }
 #edit ul li span
 {
      margin:0 0 0 0;
     
 }

.divstyle
{
    color: #666;
    font-weight: bold;
    font-size: 12px;
    padding-top: 5px;
    min-height: 5px;
}
.marginGroupCheckBox
{
    
   width: 900px;
   height:90px;
}
.marginForm
{
    margin-top: 68px;
}
.stylecheckbox
{
    margin-left:5px;
    width: 200px;
}
.marginGroupCheckBox .row
{
    float:left;
}
.subborder
{
    border-bottom: 2px solid #239DCC;
    width: 100%;
    /*margin-left: 9px;
    padding-top:25px;*/
    height:40px;

}
.divsearch
{
   margin:-3px; 
}
.inputNumber
{
    text-align:right;   
}
.edithtml
{
    margin-left: 171px;
 }
.itemReport { float:left; }
.subborderhome
{
    border-bottom: 2px solid #239DCC;
    width: 895px;
    margin-left: 9px;
    height:40px;
}
.centerForm
{
    margin-left:20%;
}
 .ListIcon2
{
                  
     width:45px;
}
.ListIcon2 li
{
    display:inline-block;
}
/*=========================================*/
/*=================TITULOS=================*/

.divTitulo {
    float: left;
    margin-top: 5px;
    padding-left: 15px;
}
.divComentario {
    height: 28px;
    float: left;
    margin-top: 5px;
}
.divTituloTOP {
    margin-top: 5px;
    padding-left: 15px;
}
/*=========================================*/
.eject-button
{
    background: url(images/ui-icons_0078ae_256x240.png) no-repeat !important;
    background-position:-62px -142px !important;    
	height: 23px;
	width: 24px;
	border: 1px solid #a6c9e2 !important;
}
.eject-button:hover
{
    background-color:#a6c9e2 !important;
}
.Add-button
{
    background: url(images/ui-icons_0078ae_256x240.png) no-repeat !important;
    background-position:-13px -125px !important;    
	height: 23px;
	width: 24px;
	border: 1px solid #a6c9e2 !important;
}
.Add-button:hover
{
    background-color:#a6c9e2 !important;
}
.folder-button
{
    background: url(images/ui-icons_0078ae_256x240.png) no-repeat !important;
    background-position:-157px -125px !important;    
	height: 23px;
	width: 24px;
	border: 1px solid #a6c9e2 !important;
}
.folder-button:hover
{
    background-color:#a6c9e2 !important;
}
.file-button
{
    background: url(images/ui-icons_0078ae_256x240.png) no-repeat !important;
    background-position:-30px -93px !important;    
	height: 23px;
	width: 24px;
	border: 1px solid #a6c9e2 !important;
}
.file-button:hover
{
    background-color:#a6c9e2 !important;
}
.edit-button
{
    background: url(images/ui-icons_0078ae_256x240.png) no-repeat !important;
    background-position:-62px -110px !important;    
	height: 23px;
	width: 24px;
	border: 1px solid #a6c9e2 !important;
}
.edit-button:hover
{
    background-color:#a6c9e2 !important;
}
.edit-button, .download-button,.pause-button, .delete-button {
    margin:2px 2px !important;
   
}

.hyperlink-button:hover {
    background-color:#a6c9e2 !important;
}

.hyperlink-button {  
    background: url(images/ui-icons_0078ae_256x240.png) no-repeat !important;
    background-position: -29px -76px !important;
	height: 23px !important;
	width: 24px !important;
    border: 1px solid #a6c9e2 !important;
    margin: 0px !important;
    display: initial !important;
    padding-right: 14px !important;
    padding-top: 3px !important;
}


.pause-button {
    background: url(images/ui-icons_0078ae_256x240.png) no-repeat !important;
background-position: -13px -158px !important;
height: 23px;
width: 24px;
border: 1px solid #a6c9e2 !important;
}
.pause-button:hover
{
    background-color:#a6c9e2 !important;
}

a.download-button
{
	display:block;
    float:right;
	margin-right:10px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	height: 22px !important;
	width: 24px;
}

.download-button
{
	display:block;
    background: url(images/ui-icons_0078ae_256x240.png) no-repeat !important;
    background-position:-221px -45px  !important;    
	height: 24px;
	width: 24px;
	float:right;
	border: 1px solid #a6c9e2 !important;
}
.download-button:hover
{
    background-color:#a6c9e2 !important;
}

.delete-button
{
	display:block;
    background: url(images/ui-icons_0078ae_256x240.png) no-repeat !important;
    background-position: -174px -93px !important;    
	height: 24px;
	width: 24px;
	float:right;
	border: 1px solid #a6c9e2 !important;
}

.delete-button:hover
{
    background-color:#a6c9e2 !important;
}

.return-button
{
    background: url(images/ui-icons_0078ae_256x240.png) no-repeat !important;
    background-position:3px -62px !important;    
	height: 24px;
	width: 24px;
	border: 1px solid #a6c9e2 !important;
}
.return-button:hover
{
    background-color:#a6c9e2 !important;
}
.view-button
{
    background: url(images/ui-icons_0078ae_256x240.png) no-repeat !important;
    background-position:-157px -109px!important;    
	height: 24px;
	width: 24px;
	border: 1px solid #a6c9e2 !important;
}
.view-button:hover
{
    background-color:#a6c9e2 !important;
}

.rowTable
{
    padding : 8px;
    float: left;
    width: 25%;
    text-align: center;
}
.rowTable a
{
    text-decoration:none;
}
.row_label_left p
{
    line-height:normal !important;
}

.ui-icon
{
    margin: 0 1px -2px; /*JQGRID icon for subtree*/
    /*margin: 0 -19px -16px;*/
    }
/*by Rmera 18/03/2013*/
.subborderTitle
{
    border-bottom: 2px solid #239DCC;
    width: 100%;
    height:40px;
    /*margin-left: 9px;*/

}
.tab_Bottoms {
padding-right: 25px;
padding-left: 25px;
padding-top: 9px;
}
.myForm1_tab_buttoms {
height: 49px;
border: 1px solid #DADADA;
-moz-border-radius: 0px 0px 4px 4px;
-webkit-border-bottom-left-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}
.myForm1_tab_buttoms ul {
list-style: none;
text-align: center;
}
.myForm1_tab_buttoms ul li {
float: left;
position: relative;
width: 50%; /* MODIFY BY EDER FROM 25% TO 50% */
display: table-cell;
height: 49px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
background-color: rgb(225, 233, 209);
}
.selectedTab {
color: White;
background: #39A144 !important;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
width: 25% !important;
}
.myForm1_tab_buttoms ul li span {
display: block;
height: 45px;
outline: none;
font-weight: bold;
text-decoration: none;
line-height: 45px;
padding: 0px 20px;
}
.ButtomColor {
background-color: rgb(63, 145, 177) !important;
border: 1px solid rgb(172, 167, 167)!important;
-moz-border: 1px solid rgb(172, 167, 167)!important;
-webkit-border: 1px solid rgb(172, 167, 167)!important;
padding: 7px !important;
border-radius: 10px !important;
-moz-border-radius: 10px !important;
-webkit-border-radius: 10px !important;
}
.ButtomColor:hover
{
     background-color: rgba(59, 193, 245, 0.55) !important;
    border: 1px solid rgb(172, 167, 167)!important;
    -moz-border: 1px solid rgb(172, 167, 167)!important;
    -webkit-border: 1px solid rgb(172, 167, 167)!important;
    padding: 7px !important;
    border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
}
.rowTable {
padding: 8px;
/*height: 67px;*/
float: left;
width: 22%;
text-align: center;
background-color: rgb(241, 231, 220);
border: 2px solid #fcf0e2;
}
.selectedTable {
   background-color: rgb(238, 200, 158) !important;
}
.infoTable {
padding: 8px;
float: left;
width: 40%;
text-align: center;
background-color: rgb(241, 231, 220);
border: 2px solid #fcf0e2;
}
.infoTable div:first-child{
    font-weight:bold !important;
    font-size:15px !important;
    font-style:normal !important;
}
.infoTable div{
    font-weight:normal !important;
    font-style:oblique !important;
}
#DivAnyCard .infoTable{
width: 27% !important;
}


.divTableleft
{
    float: left;
    width: 63%;

}
/*AKCL_PPADILLA_4884_BEGIN*/  
.divTableleft .TableStyle table {
	margin: 0 auto;
	padding: 0;
    width: 665px;
}
/*end*/
.divTableleft .TableStyle table th,
.divTableleft .TableStyle table td 
{
	padding: 10px 31px;
	text-align: left;
	border-bottom: 1px solid #ccc;
}
.divTableleft .TableStyle table th 
{
    font-size:16px;
	border-width: 2px;
    background-color: #BBE5FA;
}
.divTableleft .TableStyle table td {
color: #666;
background-color: #fff;
}
.divTableleft .TableStyle table tr:last-child th,
.divTableleft .TableStyle table tr:last-child td 
{
	border-bottom: none;
}
.divTableleft .TableStyle table tr:nth-child(even) 
{
	background: #eee;
}
.Order2 {
/*margin: 78px 0px 0px 0px;*/
width: 410px;
}
/*.Order {
-webkit-box-shadow: 0px 0px 3px #aaa;
box-shadow: 0px 0px 3px #aaa;
-webkit-border-radius: 10px;
border-radius: 10px;
border: 2px solid #fff;
background-color: #f9f9f9;
width: 230px;
overflow: hidden;
padding: 10px 0px 10px 40px;
font-size: 15px;
}*/
.Order table td {
width: 30%;
}
.Order table td {
width: 30%;
text-align: right;
}

.chkOrderGroup {
    
width: 300px;
margin-top: 2%;
}


.Width_0
{
    width:450px !important;
}
.Width_1 {
    width:200px !important;
}
.Width_1_ddl {
    min-width:212px !important;
}
.Width_1_file {
    width:210px !important;
}

.Width_2_file {
    width:463px !important;

}



.Width_2 {
    width: 170px !important;
}
.Width_3  
{
    width:140px !important;
}
.Width_4
{
    width:110px !important;
}
.Width_5
{
    width:80px !important;
}
.Width_6
{
    width:50px !important;
}
.Width_7
{
    width:20px !important;
}

.Width_8
{
    width:772px !important;
}
.Width_9
{
    width:444px !important;
}
.Width_10
{
    width:684px !important;
}

.Width_295
{
    width:295px !important;
}






.divTitulo 
{
    float: left;
    margin-top: 5px;
    padding-left: 15px;
}
.divComentario 
{
    height: 28px;
    float: left;
    margin-top: 5px;
}
.mar_button12 {
margin-bottom: 12px;
}

.settheme{

display: block;
padding: 5px 3px 5px 5px;
text-decoration: none;
float: left;
width: 100%;
clear: left;
background-color: rgb(255, 226, 182) !important;
border: 1px solid rgb(170, 170, 170) !important;
background-position: initial initial;
background-repeat: initial initial;
}

 .rb1 input {

margin-right: 7px;
        }
        .rb2 input {
        margin-left: 17px;
margin-right: 7px;
        }
.row_label_left_txtcol2{
    font-weight: bold;
padding-top: 5px;
}
.row_label_left_col2 {
width: 49px !important;
}
.row_label_left_w132 {
    width: 132px !important;
}
.row_label_left_w110 {
    width: 110px !important;
}
.row_label_left_w90 {
    width: 90px !important;
}
.row_label_left_w50 {
    width: 50px !important;

}
.row_label_left_w150 {
    width: 150px !important;
}
.row_label_left_pt10 {
    padding-top: 10px !important;
}
.row_label_left_pt8 {
   padding-top: 8px !important;
}
.notprocessed {
    color: rgb(77, 136, 28);
}

#mail_content{
font-size: 11px;
}



.gridContent
{
	margin-top:20px;
	margin-left:15px;
}
.myForm1 .rowleft {
    padding: 8px;
    margin-left:-196px;
}
.accsdenied {
margin: 37px;
color: rgb(204, 0, 0);
}
.myForm1_buttons_ml74 {
    margin-left: 74px;
padding: 5px;
}


.listleg2 li
{
   margin:20px;
}
.listleg2 li
{
    clear:both;
    padding:5px;
}
.listleg2 div
{
    width:115px;
    float:left;
    margin-right:10px;
}
.listleg2 span
{
    margin-left:10px;
}
.frm-inputText-w-40 input[type="text"]
{
    width:40px !important;
}
.listleg2 input[type="text"]
{
     float:left;
    background: #F8F8F8;
    border-top: 1px solid #D8DDDF;
    border-bottom: 1px solid #D8DDDF;
    border-left: 1px solid #D8DDDF;
    border-right: 1px solid #D8DDDF;
    -moz-box-shadow: 0 8px 18px -11px #000;
    -webkit-box-shadow: 0 8px 18px -11px black;
    box-shadow: 0 4px 18px -11px black;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.text-alg-r input[type="text"]
{
    text-align:right;
}

.margin-l-14
{
    margin-left:14px;
}

.font19
{
   font-size: 1.9em !important;
}


.row_aling_radio {
    margin: 6px 0px -7px 0px;
}

.lblstageenvironment {
    color:rgb(209, 219, 245);
}
.lbltestenvironment {
    color: rgb(219, 21, 21);
}

.lbldevenvironment {
  color:rgb(202, 255, 202);
}

.watermark_mainxc {
position: absolute;
font-size: 18px;
margin-left: 171px;
font-weight: bold;
}
.buttonmargin{	
	margin-bottom: 15px;
}