.sdt_menu{
	margin-top:38px;
	/*margin:0;
	padding:0;
	list-style: none;
	font-size:14px;*/
}
.sdt_menu a{
	text-decoration:none;
	outline:none;
}
.sdt_menu li{
	float:left;
	display:block;
	
	position:relative;
	cursor:pointer;
}


.sdt_menu li span.sdt_wrap{
	position:absolute;
	/*top:-47px !important;
	left:-21px;*/
	width:86px;
	height:0;
	z-index:10000;
    opacity: inherit !important;
}
.sdt_menu li span.sdt_active{
	position:absolute;
	top:-11px;
	width:85px;
	height:0px;
	left:-12px;
	z-index:14;
	/*-moz-box-shadow:0px 0px 4px #000 inset;
	-webkit-box-shadow:0px 0px 4px #000 inset;
	box-shadow:0px 0px 4px #000 inset;*/
}
.sdt_menu li span span.sdt_link,
.sdt_menu li span span.sdt_descr,
.sdt_menu li div.sdt_box a{
	margin-left:15px;
	text-transform:uppercase;
	text-shadow:1px 1px 1px #000;
}
.sdt_menu li span span.sdt_link{
	color:#fff;
	font-size:24px;
	float:left;
	clear:both;
}
.sdt_menu li .sdt_descr{
	color:#0B75AF;
	float:left;
	clear:both;
	width:155px; /*For dumbass IE7*/
	font-size:10px;
	letter-spacing:1px;
}
.sdt_menu li div.sdt_box{
	display:block;
	position:absolute;
	width:170px;
	overflow:hidden;
	height:170px;
	top:85px;
	left:0px;
	display:none;
	background:#000;
}
.sdt_menu li div.sdt_box a{
	float:left;
	clear:both;
	line-height:30px;
	color:#0B75AF;
}
.sdt_menu li div.sdt_box a:first-child{
	margin-top:15px;
}
.sdt_menu li div.sdt_box a:hover{
	color:#fff;
}