﻿span.cursor {
    /*border: 1px solid #c00;
    width: 10px;
    height: 10px;
    display: block;
    margin: 9px;
    margin-left: 17px;
    position: relative;
    top: 17px;*/
}


.sti_nodes_lvl_test {
    position:absolute;
    /*width: 459px;*/
    height: 134px;
    top: 250px;
    left: 245px;
}
.sti_nodes_lvl0 {
    position:absolute;
    /*width: 459px;*/
    height: 134px;
    top: 138px;
    left: 267px;
}

.sti_nodes_lvl1 {
    position:absolute;
    /*width: 459px;*/
    height: 134px;
    top: 326px;
    left: 89px;
}


.sti_nodes_lvl2-1 {
    position:absolute;
    /*width: 459px;*/
    height: 134px;
   top: 551px;
    left:2px;
    /*border: 1px solid #c00;*/
}
.sti_nodes_lvl2-2 {
    position:absolute;
    /*width: 459px;*/
    height: 134px;
   top: 551px;
    right:10px;
    /*border: 1px solid #c00;*/
}

.sti_nodes_lvl3-1 {
   position: absolute;
    width: 424px;
    height: 134px;
    top: 718px;
    left: 12px;
}
.sti_nodes_lvl3-2 {
    position:absolute;
    width: 432px;
    height: 134px;
   top: 718px;
    right:70px;
    /*border: 1px solid #c00;*/
}

.sti_nodes_lvl4-1 {
  position: absolute;
    width: 428px;
    height: 76px;
    top: 813px;
    left: 110px;
    /*border: 1px solid #c00;*/
}
.sti_nodes_lvl4-2 {
    position:absolute;
    width: 379px;
    height: 77px;
    top: 813px;
    right: 10px;
    /*border: 1px solid #c00;*/
}


/**************** START::  ShortView  ******************/
.sti_nodes_lvl_0 {
    top:5px;
    left: 25px;
    position: relative;
}

.sti_nodes_lvl_1, .sti_nodes_lvl_2, .sti_nodes_lvl_3 {
   position: relative;
    width: 459px;
    height: 134px;
    top: 8px;
    left: 0px;
}


/****************  END:: ShortView  ******************/


.sti_node1{
	overflow:hidden;
	width:160px;
	height: 134px;
}
.sti_node2{
	overflow:hidden;
	width:732px;
	height: 162px;
}
.sti_node3{
	overflow:hidden;
	width: 501px;
	height:140px;
   
}
.sti_node4{
	overflow:hidden;
	width: 436px;
	height:117px;
    margin-top: -57px;
    
    float:left;
 }
.sti_node5{
	overflow:hidden;
	width: 436px;
	height:140px;
    margin-top: -57px;
    margin-left: 54px;
    float:left;
 }
.position-level4 {
    margin-left: -6px;
    clear:left;
}
.sti_prod_lightbox2{
    display: block;
    left: 50%;
    margin-left: -223px;
    z-index: 1002;
    position: fixed;
    top: 50%;
    margin-top: -159px;

   
} /*background: #eef2f7;*/
   .sti_prod_lightbox{
    display: block;
    left: 50%;
    margin-left: -223px;
    z-index: 1002;
    position: fixed;
    top: 50%;
    margin-top: -159px;

    background: #eef2f7;
    -webkit-border-radius: 6px;
    border: 1px solid #536376;
    -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
    -moz-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
    padding: 14px 22px;
    max-width:550px;
}
.sti_borderpopup {

 -webkit-border-radius: 6px;
    border: 1px solid #536376;
    -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
    -moz-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;

}
.sti_prod_lightbox_title{
	padding:0 0 2px 0;
	 /*border-bottom:1px solid #4B4B4B;*/ 
	list-style:none;
}
.sti_prod_lightbox_title li{
	color: #333A2D;
display: inline-block;

	font-size: 16px;
}
.sti_prod_lightbox_title .lvl{margin-right:34px;font-weight: bold;}
.sti_prod_lightbox_title .childName{text-decoration:underline}
.sti_prod_lightbox_title .parentName{}

.sti_prod_lightbox_profile{
	list-style:none;
	margin-top:10px;
	margin-bottom:25px;
	
	font-size:16px;
	color:#fff;
}
.sti_prod_lightbox_profile li{margin-bottom:2px;}

.sti_prod_lightbox_table2,.sti_prod_lightbox_table{
	color:#fff;
	font-size:16px;
	margin-bottom:25px;
}
.sti_prod_lightbox_table2 thead,.sti_prod_lightbox_table thead{
	font-weight:bold;
}
.sti_prod_lightbox_table td{
	min-width:78px;
    padding: 0px 4px;
}
.sti_prod_lightbox_table2 td{
	min-width:15px;
}
.sti_prod_lightbox_table2 a{
	color:#fff;
}
.sti_prod_lightbox_table2 a:hover{
	color:#666;
}
/* ----------------------------------------------------
	sti slider
---------------------------------------------------- */

/* .sti_container { max-width: 100%; height: auto; } */

.sti_container {
	font-family:Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; color: #333;
    margin:0px auto;
    width:550px;
	min-height:200px;
	padding:0px;
	overflow:hidden;
	float:left;
}

.sti_container a { text-decoration:none; color:#2d75cd; }

.ajax_content { clear:both; }

.sti_slider {
	width:550px;
	overflow:hidden;
	position:relative;
	margin:0;
	float:left;
}

.sti_items {
	float:left;
	display:none;
	
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;
	padding:0px;
	margin:0px;
	
	width:15000px;

	-webkit-transform: translate3d(0px,0px,0px); 
}

.sti_items2 {
	float:left;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;
	padding:0px;
	margin:0px;
	width:250px;
	-webkit-transform: translate3d(0px,0px,0px); 
    z-index:9999999999999999999;
}

.sti_items3 {
	float:left;
    margin-top: 0;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;
	padding:0px;
	width:148px;
	-webkit-transform: translate3d(0px,0px,0px); 
}
.sti_items4 {
	float:left;
    margin-top: 0;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;
	padding:0px;
	width:105px;
	-webkit-transform: translate3d(0px,0px,0px); 
}
.sti_items img { 
	padding:0px; margin:0px; float:left;
	-webkit-transform: translate3d(0px,0px,0px);
	-webkit-transform: translate2d(0px,0px);
}
/*
.preload_32 { 
	background:#fff url(../img/preload_32.gif) center no-repeat; width:32px; height:32px; padding:5px; position:absolute; z-index:1000;
	border:#ddd solid 1px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}
*/
.preload_16 { 
	background:#fff url(../images/gen/preload_16.gif) center no-repeat; width:16px; height:16px; padding:5px; position:absolute; z-index:1001; margin-top:28px; left:5px;
	border:#ddd solid 1px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

.sti_slide3 { width:auto !important; float:left; padding-right:5px;margin-top:1px;}
.sti_slide { width:auto !important; float:left; padding:0 18px; margin-right: 22px;/* background:#fff url(../img/texture_01.jpg); position:relative;*/ }
.sti_slide img { display:block; border:none !important; margin:0 !important; padding:0 !important; max-width:none !important; max-height:none !important; height:none !important; }
.sti_slide div.banner_title { font-size:13px; background:#000; color:#999; padding:10px; position:absolute; left:0; bottom:30px; opacity:.8; }
.sti_slide div.banner_title a { color:#fff; }
.sti_slide div.banner_title a:hover { text-decoration:underline; }

/* content */

.sti_content_slider { background:#fff; margin:0 auto; color:#777; }
.sti_content_slider .sti_content_inner { padding:0px; }
.sti_content_slider h1, h2, h3, h4, h5, h6 { font-family:Arial, Helvetica, sans-serif; margin-top: 0; color:#505050; }
.sti_content_slider h1 { font-size:32px; line-height:34px; margin-bottom:20px; clear:both; }
.sti_content_slider h2 { font-size:26px; line-height:28px; margin-bottom:20px; clear:both; }
.sti_content_slider h3 { font-size:20px; line-height:22px; margin-bottom:20px; clear:both; }
.sti_content_slider h4 { font-size:16px; line-height:18px; margin-bottom:20px; clear:both; }
.sti_content_slider h5 { font-size:14px; line-height:16px; margin-bottom:20px; clear:both; }
.sti_content_slider h6 { font-size:12px; line-height:14px; margin-bottom:20px; clear:both; }

.sti_content_slider p { margin-top:0; margin-bottom:20px; }
.sti_content_slider a:hover { text-decoration:underline; color:#6fa1df; }
.sti_content_slider img { margin:0 0 20px 0 !important; }

.sti_clear { clear:both; }
.sti_line { border-top:#ddd solid 1px; margin-top:20px; clear:both; }


/* ----------------------------------------------------
	sti product
---------------------------------------------------- */

.sti_prod { 
	display:inline-block; margin:12px 0px 0px 10px; position:relative !important; /*line-height:30px;*/
	/* ie7 fix */
	zoom: 1; 
    *display: inline; 
    *margin-bottom:0px;
}
.v_mag_86x119 .sti_prod{
	position:relative;
	width: 86px !important;
	height: 119px !important;
	/*margin-bottom:15px;*/
}
.v_mag_86x129 .sti_prod{

}
.sti_prod img { 
	position:absolute !important; bottom:0;
	display:block !important; border:none !important; margin:0 !important; padding:0 !important; max-width:none !important; max-height:none !important; height:none !important; 
}

.sti_prod a.link86 {
	display:block;
	background:transparent url(../images/gen/sprite_icons_leg.png) no-repeat;
	margin:-2px 13px 0 13px;
	position:relative;
	opacity:.8; 
	outline:none; 
	z-index:2; 
	left:inherit !important;
	bottom:inherit !important;
	text-decoration:none;
}
div.sti_prod.cancelled a.sti_lightbox{
cursor: pointer !important;
}
.sti_prod.cancelled a, .sti_prod.backup a{
    cursor:default !important;
}

/*
.sti_prod a.link.more { background:transparent url(../img/sprite_icons.png) no-repeat 0 0; }
.sti_prod a.link.zoom { background:transparent url(../img/sprite_icons.png) no-repeat -32px 0; }
.sti_prod a.link.video { background:transparent url(../img/sprite_icons.png) no-repeat -64px 0; }
.sti_prod a.link.audio { background:transparent url(../img/sprite_icons.png) no-repeat -96px 0; }
.sti_prod a.link.completed { background:transparent url(../images/gen/sprite_icons2.png) no-repeat 0 0; }
*/
a.icon-completed_86 ,a.icon-failed_86 ,a.icon-nonautoship_86 , a.icon-empty_86, a.icon-cancelled_86,.nro-ordinal_86,.nro-cardinal_86 {width:59px !important;height:59px !important;display:block;color:#fff;}
.icon-completed_86, .icon-failed_86, .icon-cancelled_86,.icon-nonautoship_86, .icon-empty_86  {width:59px;height:59px;display:block;}
.icon-completed_86{background:transparent url(../images/gen/icon_completed.png) center center no-repeat;}
.icon-failed_86{background:transparent url(../images/gen/sprite_icons_leg.png) -136px 0 no-repeat;}
.icon-cancelled_86{background:transparent url(../images/gen/sprite_icons_leg.png) -204px 0 no-repeat;}
.icon-nonautoship_86{background:transparent url(../images/gen/sprite_icons_leg.png) -272px 0 no-repeat;}
.icon-empty_86{background:transparent url(../images/gen/icon_empty.png) center center no-repeat;}
.icon-scheduled_86{background:transparent url(../images/gen/icon_empty.png) center center no-repeat;}
/*.icon-cancelled_86{background:transparent url(../images/gen/icon_completed.png) center center no-repeat;}*/
.nro-ordinal_86{
	position: relative;
    font-size: 30px;
    color: #fff;
    height: 21px;
    padding: 21px 7px;
    right: 2px;
    padding-right: 20px;
    width: 46px;
    text-align: right;
}
.nro-ordinal_86 small{
	position:absolute;
	top:14px;
    right: 5px;
	font-size:17px;
}
.nro-cardinal_86{
	position:relative;
	font-size: 30px;
	text-align:center;
	height: 33px;
	padding:22px 8px;
	width: 46px;
}
/*********************************/

.sti_prod a.link60 {
    display:block;
    background:transparent url(../images/gen/sprite_icons_leg.png) 0 -80px no-repeat;
    margin:6px 10px;
   
	position:relative;
	opacity:.8; 
	outline:none; 
	z-index:2; 
	left:inherit !important;
	bottom:inherit !important;
	text-decoration:none;
}
.sti_prod a.link60 span{
		background-image:url(../images/gen/sprite_icons_leg.png);
		background-repeat: no-repeat;
}

a.icon-completed_60 ,a.icon-failed_60, a.icon-empty_60, a.icon-cancelled_60,a.icon-nonautoship_60,.nro-ordinal_60,.nro-cardinal_60 {width:59px;height:59px;display:block;color:#fff;}
.icon-completed_60, .icon-empty_60, .icon-cancelled_60,.icon-failed_60,  .icon-nonautoship_60{width:42px;height:42px;display:block;}
.icon-completed_60{background-position: -49px -78px;}
.icon-failed_60{background-position: -95px -78px;}
.icon-cancelled_60{background-position: -143px -78px;}
.icon-nonautoship_60{background-position: -198px -78px;}
.icon-empty_60{background-position:-198px 78px;}
.nro-ordinal_60{
	background-position:inherit;
	position:relative;
	font-size:20px;
	color:#fff;
	height: 43px;
    padding: 13px 6px;
    width: 43px;
}
.nro-ordinal_60 small{
	position:absolute;
	top:11px;
	font-size:11px;
}
.nro-cardinal_60{
	background-position: inherit;
	position: relative;
	font-size: 20px;
	text-align: center;
	height:44px;
	padding:14px 7px;
	width: 42px;
}
/*********************************/


.sti_prod a.link44 {
	display:block;
	background:transparent url(../images/gen/sprite_icons_leg.png) 0 -141px no-repeat;
	margin:6px 6px;
	position:relative;
	opacity:.8; 
	outline:none; 
	z-index:2; 
	left:inherit !important;
	bottom:inherit !important;
	text-decoration:none;
}
.sti_prod a.link44 span{
		background-image:url(../images/gen/sprite_icons_leg.png);
		background-repeat: no-repeat;
}

a.icon-completed_44 , a.icon-empty_44, a.icon-cancelled_44,.nro-ordinal_44,.nro-cardinal_44 {width:31px;height:31px;display:block;color:#fff;}
.icon-completed_44, .icon-failed_44, .icon-empty_44,.icon-nonautoship_44, .icon-cancelled_44 {width:31px;height:31px;display:block;}
.icon-completed_44{background-position: -35px -140px;}
.icon-failed_44{background-position:-71px -142px;}
.icon-cancelled_44{background-position: -151px -140px;}
.icon-nonautoship_44{background-position: -107px -140px;}
.icon-empty_44{background-position:-198px -140px;}
.nro-ordinal_44{
	background-position:inherit;
	position: relative;
	font-size: 12px;
	color: #fff;
	height: 32px;
    padding: 7px 6px;
    width: 32px;
}
.nro-ordinal_44 small{
	position:absolute;
	top:3px;
	font-size:8px;
}
.nro-cardinal_44{
	background-position: inherit;
	position: relative;
	font-size:15px;
	text-align: center;
	height: 31px;
    padding: 9px 2px;
    width: 31px;
}

/***********************/


.sti_shelf_divider { height:30px; clear:both; background:url(../img/shelf_divider.png) repeat-x; }
.sti_shelf_divider_bottom { width:100%; height:5px; clear:both; background:url(../img/shelf_divider_bottom.png) repeat-x; }

.sti_prod .fx_shadow { width:11px; height:150px; right:-11px; bottom:0; position:absolute; z-index:0; }
.sti_prod .fx_leftside { width:11px; height:150px; left:0; bottom:0; position:absolute; }

/* .sti_prod .ribbon { display:none; } */

.sti_prod .ribbon_circle { background:url(../images/gen/circle.png) no-repeat;
	width: 25px;
	height: 26px;
	left: -11px;
    top: -13px;
	position: absolute;
	z-index: 1;
	text-align: center;
	color:#666;
    line-height:25px;
    font-size: 12px;
}


.sti_thumb_gallery { margin:12px; margin-top:16px; }
.sti_thumb_gallery img { border:#ddd solid 1px !important; padding:3px !important; box-shadow: 0px 0px 3px rgba(0, 0, 0, .1) !important; }
/* ----------------------------------------------------
	colors backgroung
---------------------------------------------------- */
	
	.completed{background-color:#75B00A;}
	.scheduled{background-color:#FFB81C;}
	.failed{background-color:#FF8200;}
	.cancelled{background-color:#D10024;}
	.nonautoship{background-color:#6A2389;}
	.backup{background-color:#008BD8;}
	.empty{background-color:#B3B3B3;}
.nonautoship span.sti_prod-date{
    visibility:hidden;
}
.cancelled span.sti_prod-date{
    visibility:hidden;
}
.Completed { background-color: #75B00A;}
	.Scheduled{background-color:#FFB81C;}
	.Failed{background-color:#FF8200;}
	.Cancelled{background-color:#D10024;}
	.NonAutoship{background-color:#6A2389;}
    .NonAutoship li {color: white !important;}
    .Non-Qualiying Autoship{background-color:#6A2389;}

/* ----------------------------------------------------
	sti prev/next / paginate
---------------------------------------------------- */

.sti_previous { 
	top:44%; left:0; height:40px; width:40px; position:absolute; background:transparent url(../images/gen/nav_next_prev.png) left top no-repeat; 
	/*opacity:.8; border:#555 solid 1px; box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);*/ cursor:pointer; z-index:2;
}
.sti_next { 
	top:44%; right:1px; height:40px; width:40px; position:absolute; background:transparent url(../images/gen/nav_next_prev.png) right top no-repeat; 
	 /*opacity:.8;border:#555 solid 1px; box-shadow: -3px 3px 5px rgba(0, 0, 0, .5);*/ cursor:pointer; z-index:2;
}


.sti_paginate {
	position:relative;
	display:inline-block;
	zoom:1; *display:inline;
	margin-top:20px;
	min-width:50px;
    background-color:#fff;
    text-align:center;
	overflow:hidden;
}

.sti_paginate .sti_page {
	float:left;
}
.sti_paginate .sti_control {
	float:left; border-left:#eaeaea solid 1px; margin-left:10px; padding-left:8px;
}
.sti_paginate .sti_control img { border:none !important; padding:0; }

.sti_paginate .sti_play { padding:0 !important; line-height:0 !important; float:left; margin-left:6px; margin-right:0 !important; }
.sti_paginate .sti_pause { padding:0 !important; line-height:0 !important; float:left; margin-left:6px; margin-right:0 !important; }

.sti_paginate .sti_btn {
    display:inline-block;
	border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #B3B3B3;
    zoom:1; *display:inline;
    padding:4px 11px 4px;
	margin-right:5px;
	margin-bottom:5px;
    font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
    line-height: 22px;
    color: #777;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: whiteSmoke;
    background-repeat: repeat-x;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: none;
    background-image: -moz-linear-gradient(top, white, #E6E6E6);
}

.sti_paginate .active {
	color: #222;
	background-color: #dddddd;
	background-image: none;
    background-image: -ms-linear-gradient(top, #dddddd, #c5c5c5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dddddd), to(#c5c5c5));
    background-image: -webkit-linear-gradient(top, #dddddd, #c5c5c5);
    background-image: -o-linear-gradient(top, #dddddd, #c5c5c5);
    background-image: linear-gradient(top, #dddddd, #c5c5c5);
    background-image: -moz-linear-gradient(top, #dddddd, #c5c5c5);
	
	border: 1px solid #999;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #D6D6D6 #D6D6D6 #BEBEBE;
    border-bottom-color: #888;
}

.sti_paginate .bullets_page {
	background:url(../images/gen/page_bullets_sprite.png) no-repeat; width:18px; height:18px; margin:6px 6px 0 0; float:left; border:none; outline:none;
}
.sti_paginate .bullets_page_active {
	background:url(../images/gen/page_bullets_sprite.png) no-repeat -18px 0; width:18px; height:18px; margin:6px 6px 0 0; float:left; border:none; outline:none;
}

.sti_paginate .thumbnails_page { margin:0 3px 0 0; float:left; border:#fff solid 1px; outline:none; width:60px; height:40px; padding:0px; background:#fff; }
.sti_paginate .thumbnails_page img { border:none !important; }
.sti_paginate .thumbnails_page_active { margin:0 3px 0 0; float:left; border:#555 solid 1px; outline:none; width:60px; height:40px; padding:0px; background:#fff; opacity:.3 }
.sti_paginate .thumbnails_page_active img { border:none !important; }


/* ----------------------------------------------------
	sti menu
---------------------------------------------------- */

.sti_menu {
	position:relative;
	display:inline-block;
	zoom:1; *display:inline;
	margin:0 auto 15px auto;
    background-color: #fff;
    font-weight: 300;

	/*
	background:url(../img/texture_01.jpg);
	background-position:0 50px;
	*/
}

.sti_menu .sti_btn {
    display: inline-block;
	zoom:1; *display:inline;
    padding: 0px 8px 0px 2px;
    margin-bottom: 0;
    font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
    line-height: 14px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
	border-right:#ddd solid 1px;
	outline:none;
}
.sti_menu .sti_btn:last-child { border:none; /* padding-right:0; */ }

.sti_menu .active {
	color: #b9b9b9;
}


/* ----------------------------------------------------
	sti cursor
---------------------------------------------------- */

.grab_cursor { cursor:move; }
.grab_cursor { cursor:url(../images/gen/cursor/mozgrab.png) 8 8, move; }
.grabbing_cursor { cursor:url(../images/gen/cursor/mozgrabbing.png) 8 8, move; }


/* ----------------------------------------------------
	sti tooltip
---------------------------------------------------- */

.sti_tooltip { 
	background:#000; color:#fff; padding:5px 10px; position:absolute; z-index:1001; top:0; max-width:150px; font-size:11px; font-family:Arial, Helvetica, sans-serif; text-align:center; 
	box-shadow: 0 0 14px rgba(0, 0, 0, .5); border:#444 solid 1px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
}


/* ----------------------------------------------------
	sti lightbox
---------------------------------------------------- */

#mask_lightbox { position:absolute; left:0; top:0; z-index:1001; background-color:#000; display:none; }
#popup_lightbox { 
	
	position:fixed; left:0; top:0; width:48px; height:48px; display:block; z-index:9999; background:#FFB81C; padding:10px; 
	border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; text-align:left; box-shadow: 0 0 30px rgba(0, 0, 0, .8);
}
#preload_lightbox { 
	background:#fff url(../images/gen/preload_16.gif) center no-repeat; width:16px; height:16px; padding:5px; position:absolute; z-index:1001; left:19px; top:20px;
	border:#ddd solid 1px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

#sti_bar_lightbox { 
	position:absolute; color:#888; font-family:Arial, Helvetica, sans-serif; font-size:12px; bottom:0px; text-align:left; height:30px; 
	background-color:#000; padding:0; text-indent:10px; line-height:32px; border-top:#222 solid 1px; display:none; box-shadow: 0 10px 20px rgba(0, 0, 0, .8);
}

.close_btn_lightbox { 
    /*text-indent: -999999px;*/
    font-size:0;
    width: 33px;
    height: 33px;
    top: -18px;
    right: -10px;
    position:absolute;
    float:right; 
    cursor:pointer; 
    background:transparent url(../images/gen/btn_close.png) no-repeat;
}

#html_content_lightbox { background:#fff; }
#html_content_lightbox html, body { height: 100%; }

#sti_previous_lightbox { 
	top:0; left:-40px; height:100%; width:40px; position:absolute; background:#E6E6E6 url(../images/gen/nav_next_prev.png) 6px center no-repeat; 
	 box-shadow: -3px 3px 10px rgba(0, 0, 0, .8); cursor:pointer; z-index:1002; /*opacity:.7;*/
}
#sti_next_lightbox { 
	top:0; right:-40px; height:100%; width:40px; position:absolute; background:#E6E6E6 url(../images/gen/nav_next_prev.png) -49px center no-repeat; 
	 box-shadow: 3px 3px 10px rgba(0, 0, 0, .8); cursor:pointer; z-index:1002; /*opacity:.7;*/
}

/* ----------------------------------------------------
	qualification
---------------------------------------------------- */

.sti_prod-title{
    white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
max-width: 85px;
	font-size:12px;
	color:#fff;
	text-align:center;
	width:86px;
	padding:0;
	height:22px;
	line-height:26px;
	display:block;
}
.sti_prod-date{
	font-size:12px;
	color:#fff;
	width:100%;
	text-align:center;
	display:block;
	margin-top:4px;
	min-height: 17px;
   /* text-overflow: ellipsis;*/
width: 85px;
white-space: nowrap;
overflow: hidden;
}
.qualification {
	clear:both;
	position:inherit !important;
	display:block;
	width:66px !important;
	margin:2px auto 6px auto  !important;
	height:12px !important;
	overflow:hidden;
	height:10px;
}

.qualification li{
	display:block;
	float:left;
	margin:inherit !important;
	width:11px;
	height:11px;
	background:transparent url(../images/gen/qualification.png) right center no-repeat;
	list-style:none;
}

.qualification li.star{background-position:1px 0;}
.qualification li.point{background-position:-15px 0;}
.qualification li.circle{background-position:-30px 0;}



/* MonthActivity */
.sti_prod_lightbox_MonthActivity {
	width: 296px;
	margin:0 auto;
	overflow:hidden
}

.sti_prod_lightbox_MonthActivity h5 {
	color:#fff;
	text-align:center;
	font-size:18px;
	font-weight:normal;
	margin-bottom:10px;
}

.sti_prod_lightbox_MonthActivity ul {
	width: 156px;
	height: 10px;
	margin:0 auto;
}
.qualification2 li{
	display:block;
	float:left;
	margin-right:2px;
	width: 21px;
	height: 44px;
	color:#fff;
	padding-top: 25px;
	font-size:12px;
	text-align: center;
	/*border: 1px solid #FFB81C;*/
	background:transparent url(../images/gen/qualification2.png) right top no-repeat;
	list-style:none;
}
.qualification2 li.star{background-position:-98px 0;}
.qualification2 li.point{background-position:-23px 0;}
.qualification2 li.circle{background-position:4px 0;}


/* ----------------------------------------------------
	sliders description
---------------------------------------------------- */

.slider_description { margin:0px auto 40px auto; font-size:11px; color:#777; letter-spacing:1px; font-family: Arial, Helvetica, sans-serif; background:#f9f9f9; padding:5px; }
.slider_description strong { color:#222; font-size:12px; }


.marcador { background:#F00; width:10px; height:10px; position:absolute; z-index:100000; }



























/**********************
	-	RESET	-
************************/
/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;
}*/




.showbiz-container				{	max-width:1210px; min-width:150px; overflow:hidden;
									padding:0px 20px;margin:0px auto 0px;
									box-sizing:border-box;
									-moz-box-sizing:border-box;
									-webkit-box-sizing:border-box;
								}

.showbiz-container.darkbg		{	padding:20px;
									background:#d5d5d5;
									max-width:1170px;
								}

.showbiz-container.whitebg		{	padding:20px; padding-top:0px;
									/*border:1px solid #c00;*/
									max-width:470px;
									/*-webkit-box-shadow: 0px 0px 5px 1px rgba(100,100,100,0.1);
									-moz-box-shadow: 0px 0px 5px 1px rgba(100,100,100,0.1);
									box-shadow: 0px 0px 5px 1px rgba(100,100,100,0.1);*/
									overflow:visible
								}


.showbiz-container.retrodarkbg	{	padding:20px;padding-top:0px;
									background:#222;
									border:1px solid #1e1e1e;
									max-width:1170px;
									overflow:visible
								}

.showbiz-container.fullwidth			{	max-width:100%;}
.showbiz-container.fullwidth.nopaddings	{	padding:0px;}
.sameheight								{	height:400px;}








/*geneealoagy*/

.Popupgenealogy{
    background-color: #1F9BDE;
      
   padding: 32px 54px 22px 54px;
}
.Popupgenealogy span.textpp {
    color: #4D4D4D;
    margin-left: 0px;
}
.divsearch {
    overflow: hidden;
    height: 80px;
}
.divsearch .ds1{
    float: left;
    width: 306px;
}
.divsearch .ds1 input[type=text]{
    width: 290px;
color: #333333;
height: 34px;
padding-top: 8px;
font-size: 17px;
padding: 0px 0px 0px 16px;
border-radius: 2px;
}
.divsearch .ds2{
    width: 107px;
    float: left;
}
.divsearch .ds2 .buttomsearch{
    cursor:pointer;
    background: #FFB81C;
    font-size: 14px;
    width: 100px;
    color: #333333;
    height: 34px;
    padding-top: 8px;
    text-align: center;
    border-radius: 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 2px;  -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 2px;
}
#contentpopup {
    margin: 19px 0px 0px -11px;
    height: 54px;
}
#contentpopup span.select {
text-transform: uppercase;
font-size: 14px;
width: 226px !important;
height: 34px;
margin-left: 10px;
display: block;
margin-top: -2px;
border-radius: 3px;
padding-bottom: 4px;
text-align: left;
padding-left: 9px;
color: #656565;
padding-top: 9px;
background: white url(../tree/img/select.png) no-repeat 113px -15px;
overflow: hidden;
}

.titlerow-table {
    display: table;
    width: 100%;
    color: white;
    /* border-bottom: 1px solid white; */

}

.title-table {
    display: table;
    width: 100%;
    /* border-bottom: 1px solid white; */

    background-color: #0073A6;  color: #FFB81C;
}
.title-row {
    display: table-row;
}
.titlerow-row {
    display: table-row;
font-weight: initial !important;
}
.title-col {
  display: table-cell;

  padding: 12px 0px 12px 8px;
  font-size: 16px;
}
.titlerow-col {
  display: table-cell;

  padding: 10px 0px 8px 0px;

}
.titlerow-col2 {
display: table-cell;
padding: 10px 0px 8px 0px;
}
.title-colt1 {
    width: 80%;

}
.title-col1 {
     width: 30px;

}

.title-col2 {
    width: 236px;
    padding-left: 6px;
    text-align: left;
}
.titlet-col1 {
     width: 34px;

     text-align: center !important;
}

.titlet-col2 {
    width: 286px;
    padding-left: 6px;
    text-align: left;
}
.title-col5 {
    text-align: center;
    width: 90px;
}
.title-col4 {
    width: 90px;
}
.titlet-col4 {
    width: 16px;
    background: #EFEFEF;
}
.title-borwhite {
/* border-right: 1px solid white; */
}
.title-col3 {
  width: 87px;
  text-align: center;
}
.titlet-col3 {
  width: 99px;
  text-align: center;
}

.title-ico {
margin: 0px 0px 0px 15px;
cursor: pointer;
}
.titlerow-table2 {
display: table;
color: #666666;
font-size: 15px;
border-radius: 2px;
width: 416px;
}
.titlerow-table {
    display: table;
    width: 401px;
    color: #666666;
    font-size: 15px;
    /* border-bottom: 1px solid white; */

    border-radius: 2px;
}
.clrtitlerow {
background-color: #CCCCCC;
/*border-radius: 6px;*/
}
.clrrow {
background-color: white;
border-bottom: 3px solid #B62626;
}
.textright {
    text-align: center;
    /* padding-right: 5px; */
}
.divResultpp{
    margin-top: 10px;
}

.btnshowtop {
    cursor: pointer;  background: #FFB81C;  font-size: 14px;  
    width: 250px;  color: #333333;  
    height: 45px;  padding-top: 8px;  text-align: center;  border-radius: 2px;  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 2px;  -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 2px;  
    margin-top: 26px;
}

.btnshowtop .btntop1 {
     float: left;
    width: 55px;
}

.btnshowtop .btntop2 {
   
    float: left;
width: 185px;
text-align: left;
padding-top: 5px;
font-size: 15px;
}

.mtop11 {
margin-top: 11px;
}

#buttom {
    padding: 9px 0px;
}
 #buttom .buttom1 {
    float: left;
    cursor: pointer;  
    background: #1F9BDE;  font-size: 14px;  
    width: 648px;  
    color: #333333;  
    height: 60px;  
    padding-top: 8px;  text-align: center;  
    border-radius: 2px;  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 2px;  -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 2px;  
}
  #buttom .buttom1 .btmimg{
    float: left;  
    width: 241px;
    height: 35px;
    margin-top: 9px;
    text-align: right;
}
   #buttom .buttom1 .btmtxt{
    float: left;  
    width: 244px;  
    text-align: left;  
    padding-top: 13px;  font-size: 15px;
    color: white;
    padding-left: 16px;
}

    #buttom .buttom2 {
    float: left;  cursor: pointer;  background: #1F9BDE;  font-size: 14px;  
    width: 150px;  color: #333333;  height: 60px;  padding-top: 8px;  
    text-align: center;  
    margin-left: 11px;
    border-radius: 2px;  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 2px;  -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 2px;
}
  #buttom .buttom2 .btmimg{
          float: left;  width: 39px;  height: 35px;  margin-top: 13px;  text-align: right;
    }
   #buttom .buttom2 .btmtxt{
    float: left;  
    width: 106px;  text-align: left;  padding-top: 13px;  font-size: 15px;  color: white;  
    padding-left: 10px;
    }

    #buttom .buttom3 {  
    float: left;  cursor: pointer;  background: #1F9BDE;  font-size: 14px;  width: 150px;  color: #333333;  height: 60px;  padding-top: 8px;  text-align: center;  margin-left: 11px;  border-radius: 2px;  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 2px;  -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 2px;
}
  #buttom .buttom3 .btmimg{
    float: left;  width: 39px;  height: 35px;  margin-top: 13px;  text-align: right;
    }
   #buttom .buttom3 .btmtxt{
    float: left;  width: 106px;  text-align: left;  padding-top: 13px;  font-size: 15px;  color: white;  padding-left: 10px;
    }

#mainpopup {
width: 650px;
height: 370px;
}

#mainpopup  #sti1{
    float: left;
    width: 361px;
    margin-top: 16px;
    padding-left: 26px;
    border-right: 1px solid white;
}

#mainpopup  #sti2{
    float: left;
    width: 283px;
    padding-top: 16px;
    padding-left: 30px;
}

.contenttitle {
    color: #333A2D;
    margin-bottom: 11px;
    font-weight: bold;
}


.contenttitle span{

}
.contentchain {
 
    height: 285px;

}
.contentchain ul{
    list-style: none;   margin-bottom: 25px;  font-size: 16px;  color: #fff;


}
.contentchain li{
    margin-bottom: 13px;


}
.contentchain li .numberchain{
    float: left;


    width: 26px;
}
.contentchain li .textchain{


}
.contentchain li .textchain a{
    color:white;

}
#contentchain div.mCSB_scrollTools {
    background: url() !important;
}
#contentchain .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #333A2D;
}
.selectresult {
    background:#E8F5FC;
}
#contentresultsearch .titlerow-row
{
    cursor:pointer;
}

#messagepopup{
 margin-top: -10px;
margin-bottom: 10px;
}