
/* Header */
.brand{
	color 				: #E05E00 !important;	
	font-family 		: georgia;
	font-style 			: italic;
}

/* list stuff */
#org{
	background-color 	: white;
	margin 				: 10px;
	padding 			: 10px;
}

#show-list{
	cursor 				: pointer;
}

/* bootstrap overrides */
.alert-message{
	margin: 2px 0;
}

.topbar{
	position 			: absolute;
}

/* Custom chart styling */
.jOrgChart {
	margin                : 10px;
	padding               : 20px;
}

/* Custom node styling */
.jOrgChart .node {
	font-size 			: 12px;
	background-color 	: #fcf0e2;
	border-radius 		: 8px;
	border 				: 3px solid #239DCC;
	color 				: #333;
	-moz-border-radius 	: 8px;
}
.node p{
	font-family 	: tahoma;
	font-size 		: 10px;
	line-height 	: 11px;
	padding 		: 2px;
}



#btn-close {
    position: absolute;
    top: 8px;
    right: 18px;
    padding: 2px;
    cursor:pointer;
}
#btn-close a {
    color: #fff;
    font-size:16px;
    cursor:pointer;

}


#TreeGenealogy_CatalogPreview {
    width: 650px;
    overflow: scroll;
    display:block;
    /*width:600px;
    height:400px;*/
    position:absolute;
    /*top:50%;
    left:50%;*/
    /*margin-top:-200px;
    margin-left:-300px;*/
    z-index:20;
    padding:20px;

    border: 1px solid #696;
    text-align: center; 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: #666 0px 0px 30px;
    -moz-box-shadow: #666 0px 0px 30px;
    box-shadow: #666 0px 0px 30px;
    background: #0B699D;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#0B699D), to(#073F5F));
    background: -webkit-linear-gradient(#0B699D, #073F5F);
    background: -moz-linear-gradient(#0B699D, #073F5F);
    background: -ms-linear-gradient(#0B699D, #073F5F);
    background: -o-linear-gradient(#0B699D, #073F5F);
    background: linear-gradient(#0B699D, #073F5F);
    -pie-background: linear-gradient(#0B699D, #073F5F);
    behavior: url(/src/css/PIE.htc);
}















/* Basic styling */
/* Draw the lines */
.jOrgChart .line {
  height                : 20px;
  width                 : 4px;
}

.jOrgChart .down {
  background-color 		: #fff;	
  margin 				: 0px auto;
}

.jOrgChart .top {
  border-top          : 3px solid #fff;
}

.jOrgChart .left {
  border-right          : 2px solid #fff;
}

.jOrgChart .right {
  border-left           : 2px solid #fff;
}

/* node cell */
.jOrgChart td {
  text-align            : center;
  vertical-align        : top;
  padding               : 0;
}

/* The node */
.jOrgChart .node {
 background-color: #fcf0e2;
display: inline-block;
width:100px;
min-height: 17px;
z-index: 10;
margin: 2px 2px;
padding: 8px 0;
}

/* jQuery drag 'n drop */

.drag-active {
  border-style			: dotted !important;
}

.drop-hover {
  border-style			: solid !important;
  border-color 			: #E05E00 !important;
}
