#main {width:100%; min-width:980px; width:expression(((document.documentElement.clientWidth || document.body.clientWidth) < 980)? "980px" : "100%");}
/*----!!!-----*/
#main-width { width:100%; margin:0 auto;}
/*----!!!-----*/

.left-side { float:left; width:192px; /*padding-top:24px;*/}
.right-side { float:right; width:192px; padding-top:24px;}
.center { margin:0 192px 0 192px;}
.center2 { margin:0 0 0 192px;}
/*======Se modifico para mejor vista del jqGrid========*/
.center .inner1, .center2 .inner1 { padding:0 7px 0 7px; float:left;width:99%;}
.ui-jqgrid .ui-icon-asc
{
    margin-left:-3px;
}
.ui-jqgrid .ui-icon-desc
{
    margin-left:-3px;
}
/*=========rmera===============*/
#header {/*font-family:'Boogaloo'; */height:232px; /*background:url(../images/header-bg.gif) no-repeat left top;*/}
#header, #content, #footer { font-size:0.75em;}

.col-1, .col-2, .col-3 { float:left;}

/*======= index.html =======*/
#page1 #content .center .row-1 .col-1 {width:226px;}
#page1 #content .center .row-1 .col-2 { margin-left:226px; float:none;}
#page1 #content .center .row-2 .col-1 {width:33%;}
#page1 #content .center .row-2 .col-1 .inner { padding-right:30px;}
#page1 #content .center .row-2 .col-2 {width:33%;}
#page1 #content .center .row-2 .col-2 .inner { padding-right:30px;}
#page1 #content .center .row-2 .col-3 {width:33%;}

/*======= index-1.html =======*/
#page2 #content .center .row-1 .col-1 {width:50%;}
#page2 #content .center .row-1 .col-1 .inner { padding-right:25px;}
#page2 #content .center .row-1 .col-2 { width:49%}
#page2 #content .center .row-1 .col-2 .inner { padding-left:25px;}
#page2 #content .center .row-2 .col-1 {width:50%;}
#page2 #content .center .row-2 .col-1 .inner { padding-right:50px;}
#page2 #content .center .row-2 .col-2 {width:49%;}

/*======= index-2.html =======*/
#page3 #content .center .col-1 {width:33%;}
#page3 #content .center .col-1 .inner { padding-right:30px;}
#page3 #content .center .col-2 {width:33%;}
#page3 #content .center .col-2 .inner { padding-right:30px;}
#page3 #content .center .col-3 {width:33%;}

/*======= index-3.html =======*/
#page4 #content .center .row-1 .col-1 {width:226px;}
#page4 #content .center .row-1 .col-2 { margin-left:226px; float:none;}
#page4 #content .center .row-2 .col-1 {width:50%;}
#page4 #content .center .row-2 .col-1 .inner { padding-right:25px;}
#page4 #content .center .row-2 .col-2 {width:49%;}
#page4 #content .center .row-2 .col-2 .inner { padding-left:25px;}
#page4 #content .center .row-3 .col-1 {width:50%;}
#page4 #content .center .row-3 .col-1 .inner { padding-right:54px;}
#page4 #content .center .row-3 .col-2 {width:49%;}

/*======= index-4.html =======*/
#page5 #content .center .row-1 .col-1 {width:50%;}
#page5 #content .center .row-1 .col-1 .inner { padding-right:25px;}
#page5 #content .center .row-1 .col-2 { width:49%}
#page5 #content .center .row-1 .col-2 .inner { padding-left:25px;}
#page5 #content .center .col-1 {width:33%;}
#page5 #content .center .col-1 .inner { padding-right:30px;}
#page5 #content .center .col-2 {width:33%;}
#page5 #content .center .col-2 .inner { padding-right:30px;}
#page5 #content .center .col-3 {width:33%;}

/*======= index-5.html =======*/
#page6 #content .center .col-1 {width:33%;}
#page6 #content .center .col-1 .inner { padding-right:30px;}
#page6 #content .center .col-2 {width:33%;}
#page6 #content .center .col-2 .inner { padding-right:30px;}
#page6 #content .center .col-3 {width:33%;}

/*======= index-6.html =======*/
#page7 #content .center .row-1 .col-1 {width:222px;}
#page7 #content .center .row-1 .col-1 .inner { padding-right:30px;}
#page7 #content .center .row-1 .col-2 { width:55%}
#page7 #content .center .row-2 .col-1 {width:265px;}
#page7 #content .center .row-2 .col-2 { width:232px;}


/*=========================*/


#footer {height:53px;}