﻿.email_loading {
    /*position:absolute;
    top:0;
    left:0;*/
    width:100%;
    height:auto;
    text-align:center;
    
    /* IE filter */
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    -moz-opacity:0.5;    /* Mozilla extension */
    -khtml-opacity:0.5;  /* Safari/Conqueror extension */
    opacity:0.5; /* CSS3 */
    z-index:1000;
    background-color:white;
    display:none;
    /*padding:10px;*/
       -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
}
.email_loading img{
   display:block;
   margin:0 auto;
}
/* Overlay */
#contact-overlay {background-color:#000;}
/*.simplemodal-wrap {
    height:auto !important;
}*/
/* Container */
#contact-container {
    font: 16px/22px 'Trebuchet MS', Verdana, Arial; text-align:left; width:800px;height:600px;
}
#contact-container .contact-content {
    padding:10px;
    background: #f1f1f1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#e8e8e8');
    background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e8e8e8));
    background: -moz-linear-gradient(top, #f1f1f1, #e8e8e8);
    background: -o-linear-gradient(top, #f1f1f1, #e8e8e8); 

    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    /*height:40px;*/
}
#contact-container h1 {color:#fff; font-size:20px; line-height:20px; margin:0; padding:10px; text-align:left;}
#contact-container .contact-loading {background:url(../images/loading.gif) no-repeat; height:55px; margin:-14px 0 0 190px; padding:0; position:absolute; width:54px; z-index:8000;}
#contact-container .contact-message {text-align:center;}
#contact-container .contact-error {background:#000; border:2px solid #ccc; font-size:14px; font-weight:bold; line-height:18px; margin:0 auto; padding:2px; width:92%;}
#contact-container br {clear:both;}
#contact-container form {margin:0; padding:0;}
#contact-container label {clear:left; display:block; float:left; font-weight:bold; padding-right:4px; text-align:left; width:100px;color:#666; }
#contact-container .contact-input {background:#eee; border:1px solid #fff; font-family:'Trebuchet MS', Verdana, Arial; float:left; padding:2px; margin:2px; width:300px;}
#contact-container textarea {height:114px;width:650px}
#contact-container .contact-cc {cursor:default; font-size:14px; vertical-align:top;}
#contact-container .contact-title {background-color:#4297d7;}
/*#contact-container .contact-top {background-color:#4297d7; height:13px; margin:0; padding:0; -webkit-border-top-left-radius:8px; -webkit-border-top-right-radius:8px; -moz-border-radius-topleft:8px; -moz-border-radius-topright:8px; border-radius:8px 8px 0 0;}*/
#contact-container .contact-bottom {background-color:#333; font-size:12px; height:13px; line-height:12px; text-align:center; -webkit-border-bottom-right-radius:8px; -webkit-border-bottom-left-radius:8px; -moz-border-radius-bottomright:8px; -moz-border-radius-bottomleft:8px; border-radius:0 0 8px 8px;}
#contact-container .contact-bottom a,
#contact-container .contact-bottom a:link,
#contact-container .contact-bottom a:active,
#contact-container .contact-bottom a:visited {color:#666; position:relative; top:-4px; text-decoration:none;}
#contact-container .contact-bottom a:hover {color:#888;}
#contact-container .contact-button {background:#d76300; border:0; color:#fff; cursor:pointer; font-size:16px; font-weight:bold; height:26px; margin:4px 0 0 4px; text-align:center; vertical-align:middle; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;}
#contact-container .contact-button:hover {background:#f49000;}
#contact-container a.modal-close,
#contact-container a.modal-close:link,
#contact-container a.modal-close:active,
#contact-container a.modal-close:visited {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    text-decoration: none;
    right: -6px;
    top: -3px;
    width: 32px;
    height: 27px;
    text-align: center;
    background-color: #333;
    -webkit-border-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-radius: 100%;
    /*color: #fff;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    text-decoration: none;
    right: 25px;
    top: -3px;
    width:36px;
    text-align: center;
    background-color: #333;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;*/
}
#contact-container a.modal-close:hover {color:#ccc;}
#contact-container .row_mail_label_left {
    padding:0 !important;
    margin-top: 9px;
    width: 47px !important;
}

    #contact-container textarea {
        width:auto !important;
    }



    
/* CHECK BOX
    */


#contact-container .btn-radio-list {
  display: block;
  padding: 6px 59px;
}
#contact-container .btn-radio-list > li {
    float:left;
    display:block
}
#contact-container input[type=checkbox].css-checkbox {
		position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0;
	border:0;
}

#contact-container input[type=checkbox].css-checkbox + label.css-label {
	padding-left:20px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}

#contact-container input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}
						
#contact-container .css-label{
	background-image:url(images/lite-green-check.png);
}
			