﻿@media (max-width: 1160px) {
        .header .logo-container .logo {
  
        line-height: 0px;
  
    }
    .advanceSearch{
        word-break: break-all;
        width: 78px !important;
        height: auto;
        font-size: 8pt;
        
    }
    .group-responsive{
        width: 175px !important;
    }
    .ddlSearch {
        margin-left: 120px !important;
    }
   
}
@media (min-width: 1161px) {
    .group-responsive{
        width: 350px !important;
    }
}
@media (min-width: 550px)and (max-width:767px) {
    .group-responsive {
        width: 280px !important;
        padding-top: 8px;
    }
        .advanceSearch {
         word-break: normal !important;
         width: 154px !important;
         height: auto; 
         font-size: 12pt; 
    }
    .ddlSearch {
   
    width: 113px !important;
    margin-top: 8px;
}

}
@media (max-width: 549px) {
    .group-responsive {
        margin-top:8px !important;
    }
    .ddlSearch {
         margin-top:8px !important;
    }
}
 @media (min-width: 297px) and (max-width:399px) {
            /*.img-resp {
                width: 48px;
            }*/
            .ddlSearch {
                width: 60px !important;
                font-size: 8pt;
            }

            .group-responsive {
                font-size: 10pt;
                width: 150px !important;
            }
            .advanceSearch {
                font-size: 7pt;
            }
            .header .toggle-sidebar-left {
                right: 0px;
            }
              .advanceSearch{
        
        width: 76px !important;
       
        
    }
        }