﻿#divImage
{
    display: none;
    /* width: 460px; */
    /* margin-left: 203px; */
    margin-top:10px;
    padding: 10px;

        background-color: #f2f2f2;
    -moz-box-shadow: 0 8px 18px -11px #000;
    -webkit-box-shadow: 0 8px 18px -11px black;
    box-shadow: 0 4px 18px -11px black;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.MultiFile-remove
{
    font-size: 12px;
    border: 1px solid #c00;
    padding: 0 5px;
    margin-right: 10px;
    margin-bottom:0 !important;

	background-color: #c00;
	color: #fff;
	border-top: 1px solid #D8DDDF;
	border-bottom: 1px solid #D8DDDF;
	border-left: 1px solid #D8DDDF;
	border-right: 1px solid #D8DDDF;
	-moz-box-shadow: 0 8px 18px -11px #000;
	-webkit-box-shadow: 0 8px 18px -11px black;
	box-shadow: 0 4px 18px -11px black;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.MultiFile-remove:hover
{
	background-color:#C34;
}
.MultiFile-list
{
    display: block;
    width: 466px;
    margin-left: 200px;
    margin-top:10px;
}
.MultiFile-label
{
    padding:10px 5px;
    margin-bottom:10px;
            
            
    background-color: #f2f2f2;
    -moz-box-shadow: 0 8px 18px -11px #000;
    -webkit-box-shadow: 0 8px 18px -11px black;
    box-shadow: 0 4px 18px -11px black;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}