.PageBody {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
	overflow-y: hidden;
}

.FieldSet {
    border-color: #0893ce;/*#c3baba;*/
    border-radius: 4px 4px 0 0;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
}

input, select{
    /*display: block;*/
    width: 60%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    box-sizing: border-box;
}

input:focus, .select:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

#ddlExpDateMonth, #ddlExpDateYear{
	width: 28%;
}

.FormRow {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.ErrorMessage {
    display: inline-block;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 8px 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

legend {
    padding-bottom: 5px;
	/*font-weight: 600;*/
	color: #1b809e;
	font-size: 17px;
}

.RequiredField{
	color: red;
}


.FormLeftColumn{
	width: 40%;
    float: left;
}
.FormRightColumn {
	width: 60%;
}

.FormAmount{
	padding-bottom: 5px;
}

/*.FieldsetCreditCard,.FieldsetBillingInfo  {
	-webkit-overflow-scrolling: touch;
	overflow-y:scroll;
	background-color:red;
}*/
/*@media only screen and  (max-width: 980px){
	.PageBody {
		overflow-y:auto;
		-webkit-overflow-scrolling: touch !important;
		background-color: red
	}
}*/


@media only screen and  (max-width: 600px), screen and (max-height: 600px) {
	.PageBody {
		margin-left: 0;
		margin-right: 0;
		overflow-y:scroll !important;
		-webkit-overflow-scrolling: touch !important;
	}
	.FormLeftColumn{
		width: 100%;
		float: left;
	}
	.FormRightColumn {
		width: 100%;
	}
	
	input, select { 
		width: 100%
	}
	
	#ddlExpDateMonth, #ddlExpDateYear{
		width: 43%;
	}
}

