

/***********************
	-	BASICS 	-
***********************/



body				{	background-color:#e5e5e5;}

.showbiz-container	{	z-index:10; position: relative;}

.divide5			{	width:100%;height:5px;}
.divide10			{	width:100%;height:10px;}
.divide15			{	width:100%;height:15px;}
.divide20			{	width:100%;height:20px;}

.divide30			{	width:100%;height:30px;}

.topmenu_wrapper	{
						background:url("headergradient.png"/*tpa=http://themepunch.com/codecanyon/showbizpro/images/preview/headergradient.png*/) repeat-x; height:51px; width:100%;
}

.halfcontainer		{	width:50%; float:left; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; }

.topbutton_wrapper	{	width:220px; margin:auto;}

.top_button			{	font-family: 'Open Sans', sans-serif;
						font-size:18px;
						color:#777;
						line-height:48px;
						-webkit-transition: all 0.2s ease-out;
						-moz-transition: all 0.2s ease-out;
						-o-transition: all 0.2s ease-out;
						-ms-transition: all 0.2s ease-out;
						padding:0px 20px;
						cursor: pointer;
						font-weight:700;
}

.top_button i		{	font-size:20px; font-weight: 300;}

.top_button:hover,
.top_button.active	{	color:#fff; background:rgb(0,0,0); background:rgba(0,0,0,0.3);}

.leftfloat			{	float:left}
.clear				{	clear:both}

.rm10				{	margin-right:10px;}


/* LOGO AND LOGO HOLDER */
.logoholder			{	padding:50px 0px; background:#fff;}
.logo				{	max-width:407px; margin:auto;}


.header_details		{	padding:20px 30px; background:url("low_contrast_linen.png"/*tpa=http://themepunch.com/codecanyon/showbizpro/images/preview/low_contrast_linen.png*/) repeat; border-bottom:1px solid #000;
						box-shadow: inset 0px 10px 20px 0px rgba(0,0,0,0.25);
						-moz-box-shadow: inset 0px 10px 20px 0px rgba(0,0,0,0.25);
						-webkit-box-shadow: inset 0px 10px 20px 0px rgba(0,0,0,0.25);
}
.header_details p	{	font-family: 'Open Sans', sans-serif; font-size:15px; color:#eee; line-height:25px; text-align: center}
p.small				{	font-family: 'Open Sans', sans-serif; font-size:12px; color:#777; line-height:25px; text-align: left}

p.small a,
p.small a:visited,
p.small a:hover		{	color:#000; text-decoration:none; font-size:13px; font-weight:700;}


/* THE DEMO */
.demos				{	border-top:1px solid #fff; padding-top:88px; position:relative}
.style-title		{	font-size:30px; font-weight: 800; font-family: 'Open Sans', sans-serif; color:#555; line-height:30px;text-align: center; position: relative; z-index:5;}

.style-title p		{	font-size:14px;font-weight:300;text-transform: uppercase}
.demoleft			{	max-width:415px; position:absolute; left:50%; top:55px; z-index: 1; height:0px;}
.demoleft img		{	margin-left:-100%;}

.demoleft2			{	max-width:415px; position:absolute; left:40%; top:170px; z-index: 1; height:0px;}
.demoleft2 img		{	margin-left:-100%;}

.demoright			{	max-width:290; position:absolute; left:56%; top:130px; z-index: 1; height:0px;}
.demoright img		{	margin-right:-100%;}


.relativebox				{	position: relative; width:100%;}
.moderndemoleft				{	max-width:415px; position:absolute; left:50%; top:10px; z-index: 1; height:0px;}
.moderndemoleft img			{	margin-left:-440px}
.moderndemoright			{	max-width:290; position:absolute; left:50%; top:10px; z-index: 1; height:0px;}
.moderndemoright img		{	margin-left:200px}


hr					{	border-top:1px solid #ccc; border-bottom:1px solid #fff;}




.pre-button			{	background:url("pre-1.png"/*tpa=http://themepunch.com/codecanyon/showbizpro/images/preview/pre.png*/) repeat-x; height:40px;
						box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
						-moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
						-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
						width:565px; margin:auto;text-align:center;
						border-radius:6px;
						-moz-border-radius:6px;
						-webkit-border-radius:6px;
						font-size:12px; color:#888; font-family: 'Open Sans', sans-serif; line-height:42px;font-weight:700;text-shadow:0px 1px #fff;
						position:relative;
						cursor:pointer;
						-webkit-transition: all 0.2s ease-out;
						-moz-transition: all 0.2s ease-out;
						-o-transition: all 0.2s ease-out;
						-ms-transition: all 0.2s ease-out;
						padding:0px 20px 0px 40px;
						overflow: hidden;
						position: relative;

					}


    @media only screen and  (max-width: 620px) {
		.pre-button			{	width:70%; margin:auto;}
		.demoleft, .demoleft2, .demoright,
		.moderndemoleft, .moderndemoright	{	display:none;}
		.halfcontainer	{	float:none; width:100%}

	}


    @media only screen and (min-width: 0px) and (max-width: 479px) {
		.hideonmobile	{	display:none;}


    }

	@media only screen and (max-width:390px) {
			.topbutton_wrapper	{	width:180px; margin:auto;}
	}


.pre-button .plusbutton	{	position:absolute; left:10px;top:0px; font-size:22px; color:#888; font-family: 'Open Sans', sans-serif; line-height:42px;font-weight:700;text-shadow:0px 1px #fff;}


.pre-button:hover	{	background:url("prehover-1.png"/*tpa=http://themepunch.com/codecanyon/showbizpro/images/preview/prehover.png*/) repeat-x;
						box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.2);
						-moz-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.2);
						-webkit-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.2);
					}

.pre-button.active	{	width:80%;}
.pre-content		{	position:relative;width:80%; margin:auto; display:none; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; overflow:hidden; }
.pre-content-inner	{	position:relative; border:20px solid #d5d5d5;padding:0px;background-color:#fff; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; width:100%;  overflow:hidden; }



/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #000 }  /* plain text */

@media screen {
  .str { color: #080 }  /* string content */
  .kwd { color: #008 }  /* a keyword */
  .com { color: #800 }  /* a comment */
  .typ { color: #606 }  /* a type name */
  .lit { color: #066 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #660 }
  .tag { color: #008 }  /* a markup tag name */
  .atn { color: #606 }  /* a markup attribute name */
  .atv { color: #080 }  /* a markup attribute value */
  .dec, .var { color: #606 }  /* a declaration; a variable name */
  .fun { color: red }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #060 }
  .kwd { color: #006; font-weight: bold }
  .com { color: #600; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun, .opn, .clo { color: #440 }
  .tag { color: #006; font-weight: bold }
  .atn { color: #404 }
  .atv { color: #060 }
}

/* Put a border around prettyprinted code snippets. */
pre.prettyprint { padding: 0px !important; border: none !important; font-family: 'Open Sans', sans-serif; font-weight:300;font-size:14px;}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: #f5f5f5 !important }





/*** FOOTER **/
.top_menu				{	width:100%; min-height:50px;  background:url("topgradient.png"/*tpa=http://themepunch.com/codecanyon/showbizpro/images/preview/topgradient.png*/) repeat-x; position:relative; background-color:#040404;}





.topbutton_wrapper		{	margin:auto; position:relative;max-width:455px;}
.footerbutton_wrapper	{	margin:auto; position:relative;max-width:678px;}
.topbutton,
.topbutton a,
.topbutton a:visited	{	float:left; padding:0px 15px 0px 40px; color:#fff; line-height:50px;
							font-size:17px; font-family: 'Open Sans', sans-serif; font-weight:700;
							cursor:pointer; opacity: 0.5;
						}

.topbutton.i-image		{	background:url("image.png"/*tpa=http://themepunch.com/codecanyon/showbizpro/images/preview/image.png*/) no-repeat 15px center;}
.topbutton.i-media		{	background:url("media.png"/*tpa=http://themepunch.com/codecanyon/showbizpro/images/preview/media.png*/) no-repeat 15px center;}
.topbutton.i-blog		{	background:url("blog.png"/*tpa=http://themepunch.com/codecanyon/showbizpro/images/preview/blog.png*/) no-repeat  15px center;}
.topbutton.i-metro		{	background:url("metro.png"/*tpa=http://themepunch.com/codecanyon/showbizpro/images/preview/metro.png*/) no-repeat  15px center;}
.topbutton.i-twitter		{	background:url("twitter.png"/*tpa=http://themepunch.com/codecanyon/showbizpro/images/preview/twitter.png*/) no-repeat  15px center;}
.topbutton.i-buy		{	background:url("buy.png"/*tpa=http://themepunch.com/codecanyon/showbizpro/images/preview/buy.png*/) no-repeat  15px center;}
.topbutton.i-portfolio		{	background:url("portfolio.png"/*tpa=http://themepunch.com/codecanyon/showbizpro/images/preview/portfolio.png*/) no-repeat  15px center;}

.topbutton.selected,
.topbutton:hover,
.topbutton a:hover		{	background-color:rgba(0,0,0,0.6); color:#fff; opacity: 1; }

.topbutton.red.selected,
.topbutton.red:hover,
.topbutton.red a:hover		{	background-color:#e52000; color:#fff; opacity: 1; -webkit-box-shadow: inset 0px 3px 0px 0px rgba(255, 255, 255, 0.2); box-shadow: inset 0px 3px 0px 0px rgba(255, 255, 255, 0.2); }

.topbutton.blue.selected,
.topbutton.blue:hover,
.topbutton.blue a:hover		{	background-color:#2fc2ef; color:#fff; opacity: 1; -webkit-box-shadow: inset 0px 3px 0px 0px rgba(255, 255, 255, 0.2); box-shadow: inset 0px 3px 0px 0px rgba(255, 255, 255, 0.2); }

.topbutton.green.selected,
.topbutton.green:hover,
.topbutton.green a:hover		{	background-color:#9ab534; color:#fff; opacity: 1; -webkit-box-shadow: inset 0px 3px 0px 0px rgba(255, 255, 255, 0.2); box-shadow: inset 0px 3px 0px 0px rgba(255, 255, 255, 0.2); }



    @media only screen and (max-width: 730px) {
			.top_menu	{	height:100px; }
			.topbutton.i-blog	{	clear:left;}

			.footerbutton_wrapper	{	max-width:300px;}
			.topbutton.i-twitter	{	display:none;}
    }



/***************************
	-	CONFIGURATOR	-
*****************************/

.configurator					{	max-width:1170px; width:100%; margin:auto; padding:0px 30px; box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
}

.configurator ul li				{	list-style: none}
.one_third						{	width:32%;margin-right:2%; float:left;}
.one_third.last					{	margin-right:0}

.configurator table tr					{		width:100%; color:#D31E00; font-weight:900; font-family: 'Open Sans', sans-serif; font-size:37px; line-height:39px; }
.config_title.small						{		font-size:18px; white-space:nowrap; }

.configurator table td:first-child		{	padding-right:10px;}
.configurator table td.divider			{		width:100%; height:10px; background:url("divider.png"/*tpa=http://themepunch.com/codecanyon/showbizpro/images/preview/divider.png*/) repeat-x left 24px;}
.configurator table td.divider.small	{		width:100%; height:10px; background:url("divider.png"/*tpa=http://themepunch.com/codecanyon/showbizpro/images/preview/divider.png*/) repeat-x left 18px;}

.configurator .conftitle		{	color:#000; font-weight:800; font-family: 'Open Sans', sans-serif; font-size:12px;}
.configurator .conftitle span	{	font-size:10px; font-weight:500; color:#999;}

.configurator .selecter			{	position:relative; min-width:200px; max-width:320px; margin:5px auto 0px;}
.configurator select			{	min-width:200px; max-width:320px;  width:100%; opacity:0; -moz-opacity: 0; -webkit-opacity: 0; filter: alpha(opacity = 0); cursor:pointer; background:#fff; height:30px; }


.configurator .dropdown			{	min-width:200px; max-width:320px; width:100%; height:28px;
									position:absolute;top:0px; left:0px;
									background-color:#fff;
									-webkit-border-radius:5px; border-radius:5px; -moz-border-radius:5px;
									border:1px solid rgba(0,0,0,0.1);
								}

.configurator .dropcontent		{	line-height:30px;padding:0px 20px;
									font-family: 'Open Sans', sans-serif;font-size:12px;
									color:#404040;
									float:left;
								}

.configurator .dropbutton		{	width:23px;height:23px; background:url("dropdown.png"/*tpa=http://themepunch.com/codecanyon/showbizpro/images/preview/dropdown.png*/) no-repeat;
									float:right;margin-right:2px;
									margin-top:2px;
								}
.configurator .selecter:hover .dropbutton	{ background-position:bottom;}

.configurator .inputfield			{	width:154px;height:30px; background:url("inputfield.png"/*tpa=http://themepunch.com/codecanyon/showbizpro/images/preview/inputfield.png*/) no-repeat -2px 0px;
										font-family: 'Open Sans', sans-serif;font-size:12px; line-height:30px;padding-left:20px;color:#404040;
										margin-top:5px;
									}


.infofield							{	font-family:Arial; color:#555;font-size:12px; line-height:22px;}
.infofield span						{	font-size:13px;font-weight:bold;}


.configurator table.features tr td:first-child	{	width:100px;}

.slogan								{	text-align:center; color:#4e5b6c; font-weight:900; font-family: 'Open Sans', sans-serif; font-size:28px;}
.plus								{	background:url("plus.png"/*tpa=http://themepunch.com/codecanyon/showbizpro/images/preview/plus.png*/) no-repeat; width:23px; height:23px; float:left; margin-right:5px; cursor:pointer;}
.minus								{	background:url("minus.png"/*tpa=http://themepunch.com/codecanyon/showbizpro/images/preview/minus.png*/) no-repeat; width:23px; height:23px; float:left; cursor:pointer;}

.plus.slot, .minus.slot				{	margin-top:10px;}

.plus:hover, .minus:hover			{	background-position:bottom;}

.configurator .pmbutcont			{	position:relative; min-width:200px; max-width:320px; margin:0px auto 0px;  }



/***********************************
	-	THE LIST OF FUNCTIONS	-
************************************/
.configurator ul li					{			background:url("ok.png"/*tpa=http://themepunch.com/codecanyon/showbizpro/images/preview/ok.png*/) no-repeat 0px 4px; padding-left:45px;
												font-family: 'Open Sans', sans-serif;font-size:12px; line-height:15px;padding-left:20px;color:#404040;margin-bottom:10px;
									}
.configurator ul li	span			{ 			font-size:13px;font-weight:bold; line-height:15px;}

/***************************************
	-	TABLE OF COMPATIBILITY   -
****************************************/

.configurator table.features		{	width:100%;}
.configurator table.features tr		{	font-size:11px;line-height:16px !important; color:#000; font-weight:900; font-family: 'Open Sans', sans-serif;
										height:50px;
									}
.configurator table.features td		{	border-bottom:1px solid #ddd;	vertical-align:middle;}

.configurator table.features span	{	font-size:11px;line-height:16px !important; color:#000; font-weight:500;}

.configurator table.features tr.titles	{	color:#999; font-size:10px;  font-weight:500; text-align:center;}

.yo									{	background:url("ok.png"/*tpa=http://themepunch.com/codecanyon/showbizpro/images/preview/ok.png*/) no-repeat; width:11px;height:8px; margin:auto;}
.nop								{	background:url("no.png"/*tpa=http://themepunch.com/codecanyon/showbizpro/images/preview/no.png*/) no-repeat; width:11px;height:8px; margin:auto;}



/*************************************
	-	TESTIMONIALS	-
**************************************/
.testimonials						{  padding:20px; background-color:#eee; border:1px solid rgb(229,229,229);	margin-bottom:10px;
									   font-family: 'Open Sans', sans-serif;font-size:16px; line-height:22px; color:#555; font-weight:300;
									  }
.testimonials span				{font-weight:900;}




 @media only screen and (min-width: 768px) and (max-width: 959px) {


	.configurator select,
	.configurator .dropdown				{	width:100%;}





   }

   @media only screen and (min-width: 480px) and (max-width: 767px) {

	   .one_third		{ float:none; width:100%; margin-bottom:20px;}
	   .one_third.last	{ margin-bottom:0px !important;}

	   .configurator .conftitle		{	text-align:center; }
	   .configurator .pmbutcont			{	position:relative;  width:207px; margin:0px auto 0px;  }

   }

   @media only screen and (min-width: 0px) and (max-width: 600px) {



			 .configurator .conftitle		{	text-align:center; }
			 .configurator .pmbutcont			{	position:relative;  width:207px; margin:0px auto 0px;  }

   }



   @media only screen and (min-width: 0px) and (max-width: 479px) {
		     .one_third							{ float:none; width:100%; margin-bottom:20px;}
		     .one_third.last					{ margin-bottom:0px !important;}
			 .configurator .conftitle			{	text-align:center; }
			 .configurator .pmbutcont			{	position:relative;  width:207px; margin:0px auto 0px;  }
			 .socials							{	display:none;}
			 table								{	display:none;}

			 .topbutton, .topbutton a, .topbutton a:visited	{	font-size:13px;}




   }

    @media only screen and (min-width: 0px) and (max-width: 420px) {
		.menupoint:nth-child(3)				{	padding-left:0px !important;}
	}





