﻿
/* Frame */
.frame {
	height: 170px;
	/*line-height: 250px;*/
	overflow: hidden;
}
.frame ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 50px;
}
/*
.frame ul li {
	float: left;
	width: 227px;
	height: 100%;
	margin: 0 1px 0 0;
	padding: 0;
	background: #333;
	color: #ddd;
	text-align: center;
	cursor: pointer;
}
.frame ul li.active {
	color: #fff;
	background: #a03232;
}*/

/* Scrollbar */
.scrollbar {
	margin: 0 0 1em 0;
	height: 2px;
	background: #ccc;
	line-height: 0;
}
.scrollbar .handle {
	width: 100px;
	height: 100%;
	background: #292a33;
	cursor: pointer;
}
.scrollbar .handle .mousearea {
	position: absolute;
	top: -9px;
	left: 0;
	width: 100%;
	height: 20px;
}

/* Pages */
.pages {
	list-style: none;
	margin: 20px 0;
	padding: 0;
	text-align: center;
}
.pages li {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 4px;
	text-indent: -999px;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
	background: #fff;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.pages li:hover {
	background: #aaa;
}
.pages li.active {
	background: #666;
}

/* Controls */
.controls { margin:15px 0; text-align: center; }

/* One Item Per Frame example*/
.oneperframe { height: 300px; line-height: 300px; }
.oneperframe ul li { width: 1140px; }
.oneperframe ul li.active { background: #333; }

/* Crazy example */
.crazy ul li:nth-child(2n) { width: 100px; margin: 0 4px 0 20px; }
.crazy ul li:nth-child(3n) { width: 300px; margin: 0 10px 0 5px; }
.crazy ul li:nth-child(4n) { width: 400px; margin: 0 30px 0 2px; }

/* Effects */
.effects {
	height: 200px;
	line-height: 200px;
	-webkit-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;
	-webkit-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
	overflow-y: show;
}
.effects ul {
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.effects ul li {
	position: relative;
	margin: 0 -20px;
	-webkit-transform: rotateY(60deg) scale(0.9);
	-ms-transform: rotateY(60deg) scale(0.9);
	transform: rotateY(60deg) scale(0.9);
	-webkit-transition: -webkit-transform 300ms ease-out;
	transition: transform 300ms ease-out;
}
.effects ul li.active {
	z-index: 10;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.effects ul li.active ~ li {
	-webkit-transform: rotateY(-60deg) scale(0.9);
	-ms-transform: rotateY(-60deg) scale(0.9);
	transform: rotateY(-60deg) scale(0.9);
}







 .close
    {
        width: 16px;
        height: 16px;
        float: right;
        cursor: pointer;
        position: relative;
        top: -65px;
        position:absolute;
        top:2px;
        right:2px;
        background-image: url(/src/images/Close_Gray.png);
    }
    .close:hover
    {
        background-image: url(/src/images/Close_Red.png);
    }
    .offset
    {
        box-shadow: 4px 5px 0 #DFDFDF;
    }
       
    #imageUploader
    {
        border: solid 1px #99BBE8;
        height: 300px;
        width: 307px;
    }
    #imageUploader .header
    {
        background-color: #CBDDF3;
        background-image: -moz-linear-gradient(center top , #DAE7F6, #CDDEF3 45%, #ABC7EC 46%, #ABC7EC 50%, #B8CFEE 51%, #CBDDF3);
        border-color: #99BBE8;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 1px 0 0 #F4F8FD inset;
        height: 25px;
    }
    #imageUploader .footer
    {
        background-color: #D3E1F1;
        background-image: -moz-linear-gradient(center top , #DFE9F5, #D3E1F1);
        border-color: #99BBE8;
        height: 25px;
    }



      /**********************************/
    #profile-photo-form
    {
        background-color:rgba(255,255,255,0.8);
        position:absolute;
        z-index:25;
        top:50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -100px;
        padding: 20px;

    }

    /**********************************/
    #profile-photos h3 {
        font-size: 18px;
        color: #DFDFDF;
        text-align:left;
    }
    #profile-photos {
        position:absolute;
        top:20%;
        left:10%;
        right:10%;
        bottom:30%;
        z-index:20;

        min-width:548px;
        padding:20px;
        width:auto;
           
        min-height:350px;

        /*background-color:#111;*/
        /*-webkit-box-shadow: 0px 0px 15px #000;
        -moz-box-shadow: 0px 0px 15px #000;
        box-shadow: 0px 0px 15px #000;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(74,13,75,189)), to(rgba(74,13,75,189)), color-stop(50%, #0D4BBD));
        background: -webkit-linear-gradient(top, rgba(74,13,75,189), rgba(74,13,75,189));
        background: -moz-linear-gradient(top, rgba(74,13,75,189), rgba(74,13,75,189));
        background: linear-gradient(top, rgba(74,13,75,189), rgba(74,13,75,189));*/

            /*background: rgba(98, 135, 167, .4);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#886287a7', endColorstr='#886287a7');
        -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#886287a7', endColorstr='#886287a7');*/


        /*border-radius: 10px;*/
        /*-moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -o-border-radius: 10px;*/

        /*box-shadow: 0 8px 18px -11px #333;*/
        /*-moz-box-shadow: 0 8px 18px -11px #000;
        -webkit-box-shadow: 0 8px 18px -11px #333;
        -o-box-shadow: 0 3px 0 #0f3963, 3px 5px 3px #333;*/

        border: 1px solid #696;
        text-align: center; 
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: #666 0px 0px 30px;
        -moz-box-shadow: #666 0px 0px 30px;
        box-shadow: #666 0px 0px 30px;
        background: #0B699D;
        background: -webkit-gradient(linear, 0 0, 0 bottom, from(#0B699D), to(#073F5F));
        background: -webkit-linear-gradient(#0B699D, #073F5F);
        background: -moz-linear-gradient(#0B699D, #073F5F);
        background: -ms-linear-gradient(#0B699D, #073F5F);
        background: -o-linear-gradient(#0B699D, #073F5F);
        background: linear-gradient(#0B699D, #073F5F);
        -pie-background: linear-gradient(#0B699D, #073F5F);
        behavior: url(/src/css/PIE.htc);
    }

    .buttonItem {
        float: left;
        background-color: /*#336699*/#39A144;
        padding:5px;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        -webkit-box-shadow: 0 3px 0 #0f3963, 3px 5px 3px #333;
        -moz-box-shadow: 0 3px 0 #0f3963, 3px 5px 3px #333;
        box-shadow: 0 3px 0 #0f3963, 3px 5px 3px #333;
        -o-box-shadow: 0 3px 0 #0f3963, 3px 5px 3px #333;
        text-shadow: 0 1px 1px #000;
    }
    .buttonItem span{
            color: #fff !important;
    }
    .profile-photo-bar {
        position:relative;
        margin-top: 30px;
        margin-left: 4px;
        margin-bottom: 20px;
        height: 30px;
        padding: 10px;
        background-color: rgba(255,255,255,0.8);
        width: auto;
        behavior: url(/src/css/PIE.htc);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

    }

    #btn-close {
        position: absolute;
        top: 8px;
        right: 18px;
        padding: 2px;
    }
    #btn-close a {
        color: #fff;
        font-size:16px
    }
    /*  
	/beautiful-image-hover-effects-with-jquery-css.html 
	*/
	.freshdesignweb {/*width:1000% !important;*/ margin:0 auto;}
	.freshdesignweb a:link{text-decoration:none;}
    .freshdesignweb .c-two{
        background-color: #222;
        background-size: 100%;
        background-position:center center;
        background-repeat:no-repeat;
        position:relative;
        float:left; 
        width:188px !important;
        height:157px; 
    } 
         
        /*cursor:pointer;opacity:0.5;*/
	/*portfolio*/
	.fdw-background{ background-color:rgba(0,0,0,0.6);opacity:0;  width:100%; height:100%; }
	.fdw-background h4{font-size:20px; font-family: 'Dosis', sans-serif; text-align:center; padding:40px 40px 0; }
	.fdw-background .fdw-port{ text-align:center; padding:0 5px 0; margin-top: 70px;}
	.fdw-background .fdw-port a{ padding:8px 15px; font-size:12px; cursor:pointer; }
	/*subtitle*/
	.fdw-subtitle{ font-size:12px; margin-top:-20px; color:#0CF; }
	.fdw-subtitle a{ color:#F90; }
	/*columns*/
	.c-two{ margin: 5px; }
    .MyPicturetwoActive.active {
        background: blue;
    }
    .MyPicturetwoActive:hover {
        background: aqua;
    }

	/*align*/
	.a-center{ text-align:center; }
	/*border*/
	.border{ border:1px solid #CCC;}
	/*link buttons*/
    .fdw-port a{ 
		background-color:#336699; 
		color:#fff; 
		border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		-webkit-box-shadow: 0 3px 0 #0f3963, 3px 5px 3px #333;
		-moz-box-shadow: 0 3px 0 #0f3963, 3px 5px 3px #333;
		box-shadow: 0 3px 0 #0f3963, 3px 5px 3px #333;
		-o-box-shadow: 0 3px 0 #0f3963, 3px 5px 3px #333;
		text-shadow:0 1px 1px #000;
	}
    .fdw-port a:hover{ 
		background-color:#f2f2f2; 
		color:#336699 !important; 
		text-shadow:0 1px 1px #ccc;
		-webkit-box-shadow: 0 3px 0 #ccc, 3px 5px 3px #333;
		-moz-box-shadow: 0 3px 0 #ccc, 3px 5px 3px #333;
		box-shadow: 0 3px 0 #ccc, 3px 5px 3px #333;
		-o-box-shadow: 0 3px 0 #ccc, 3px 5px 3px #333;
	}


table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
section, header{
	display: block;
}
/* General Demo Style */

.container{
	width: 100%;
	height: 100%;
	position: relative;
}
.clr{
	clear: both;
}
.container > header{
	padding: 20px 30px 20px 30px;
	margin: 0px 20px 10px 20px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
.container > header h1{
	position: relative;
	color: #498ea5;
	font-weight: 700;
	font-style: normal;
	font-size: 30px;
	padding: 0px 0px 5px 0px;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
.container > header h1 span{
	font-family: 'Alegreya SC', Georgia, serif;
	font-size: 20px;
	line-height: 20px;
	display: block;
	font-weight: 400;
	font-style: italic;
	color: #719dab;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.container > header h2{
	font-size: 16px;
	font-style: italic;
	color: #2d6277;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
/* Header Style */
.freshdesignweb-top{
	line-height: 24px;
	font-size: 11px;
	background: rgba(0, 0, 0, 0.05);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.freshdesignweb-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0px 1px 1px #fff;
	display: block;
	float: left;
}
.freshdesignweb-top a:hover{
	background: #fff;
}
.freshdesignweb-top span.right{
	float: right;
}
.freshdesignweb-top span.right a{
	float: left;
	display: block;
}
.freshdesignweb-demos{
    text-align:center;
	display: block;
	line-height: 30px;
	padding: 20px 0px;
}
.freshdesignweb-demos a{
    display: inline-block;
	margin: 0px 4px;
	padding: 0px 4px;
	color: #fff;
	line-height: 20px;	
	font-style: italic;
	font-size: 13px;
	border-radius: 3px;
	background: rgba(41,77,95,0.1);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.freshdesignweb-demos a:hover{
	background: rgba(41,77,95,0.3);
}
.freshdesignweb-demos a.current,
.freshdesignweb-demos a.current:hover{
	background: rgba(41,77,95,0.3);
}

#message{
    color:#fff;
    margin-left: 5px; float: right; 
    display: none;
    position: absolute;
    top: -71px;
    right: 80px;
    width: auto;
}
#loading{
    color: #fff;
    margin-left: 5px;
    float: right;
    display: none;
    position: absolute;
    top: -9px;
    right: 102px;
    width: auto;
    background-color: inherit;
}

/* Buttons */
.btn {
	position: relative;
	display: inline-block;
	*display: inline;
	padding: 4px 12px;
	margin-bottom: 0;
	*margin-left: .3em;
	line-height: 30px;
	color: #333333;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
	*zoom: 1;
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { color: #333; background-color: #f5f5f5; }

.btn:first-child { *margin-left: 0; }

.btn:hover { color: #333; text-decoration: none; }
.btn:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
.btn.active, .btn:active, .btn-group.open .btn { outline: 0; top: 1px; border-top-width: 2px; border-bottom-width: 1px; border-top-color: rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 60px 0 rgba(0,0,0,.1); -moz-box-shadow: inset 0 60px 0 rgba(0,0,0,.1); box-shadow: inset 0 60px 0 rgba(0,0,0,.1);
}
.btn.disabled, .btn[disabled] { cursor: default; background-image: none; opacity: 0.65; filter: alpha(opacity=65); }
