@import "multifile.css";
@import "profile.css";
/*@import url('multifile.css') screen;*/
*  
{
	margin:0; 
	padding:0;
	border: none;
	text-decoration: none;
	list-style: none;
}
body 
{ 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 100%; 
    line-height: 1em; 
    color: #393939;
    behavior: url(PIE.htc);
    min-width: 1205px;
}

input, textarea { 
font-family:Arial, Helvetica, sans-serif; font-size:1em;
background: #F8F8F8;
border-top: 1px solid #D8DDDF;
border-bottom: 1px solid #D8DDDF;
border-left: 1px solid #D8DDDF;
border-right: 1px solid #D8DDDF;
-moz-box-shadow: 0 8px 18px -11px #000;
-webkit-box-shadow: 0 8px 18px -11px black;
box-shadow: 0 8px 18px -11px black;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.fleft { float:left;}
.fcenter { margin: 0 auto; width: 125px;}
.fright { float:right;}
.clear { clear:both;}

.alignright { text-align:right;}
.aligncenter { text-align:center;}

.wrapper, block { width:100%; overflow:hidden;}
.container { width:100%;}

p { margin:0; padding:0;}

.tail-top { background:url(../images/tail-top.gif) left top repeat-x #fff;}
.tail-bottom { background:url(../images/tail-bottom.gif) left bottom repeat-x;}


/*==================forms====================*/
input, select { vertical-align:middle; font-weight:normal;}
img {border:0; vertical-align:top; text-align:left;}

.form input { padding:5px 0 5px 3px; background:#fcf0e2; border-top:1px solid #382317; border-left:1px solid #3f2819; border-bottom:1px solid #623f28; border-right:1px solid #623f28; width:165px; float:left; margin-right:10px;}
.form a img { float:left;}

.form1 { padding:0 12px 0 10px;}
.form1 input { background:#fcf0e2; padding:3px 0 3px 3px; border-top:1px solid #533017; border-left:1px solid #61381a; border-bottom:1px solid #945528; border-right:1px solid #864d24; width:165px;}
.form1 label { display:block; color:#fff; margin-bottom:8px; padding-left:4px;}

.form2 { height:43px;}
.form2 input {width:204px; padding:2px 0 2px 3px; background:#fff; border:1px solid #d8cabb;}
textarea { width:227px; height:103px; overflow:auto; background:#fff; border:1px solid #d8cabb; padding:2px 0 0 3px; }

form .buttons { margin-top:16px; text-align:right;}
form .buttons a img { margin-left:22px;}

/*==================list====================*/
ul { list-style:none;width:100%;}/*by rmera add width*/

.list li { display:inline; text-transform:uppercase; color:#625146; padding-left:25px;}
.list li a { text-decoration:none; color:#fff;}
/*.list li a:hover { text-decoration:underline;}*/

.site-nav { text-align:center;}
.site-nav li { float:left; width: 10%;} /*CHANGE TO 11% TO ADD NEW TAB IN MENU*/
.site-nav li a { color:#ccc;/*rmera 19/12/2012*//*font-size:20px*/ font-size:16px; text-decoration:none;}
.site-nav li a:hover { color:#fff;
/*rmera 19/12/2012*/
/*padding:10px;*/padding:5px;
	background: #39A144;
	border-top: 1px solid #39A144;
	border-bottom: 1px solid #39A144;
	border-left: 1px solid #39A144;
	border-right: 1px solid #39A144;
	-moz-box-shadow: 0 8px 18px -11px #000;
	-webkit-box-shadow: 0 8px 18px -11px black;
	box-shadow: 0 8px 18px -11px black;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.list1 { width:100%; overflow:hidden;}
.list1 li {color:#fff;/*rmera 19/12/2012*//* background:url(../images/divider.gif) repeat-x top;*/ margin-top:-1px; padding:4px 8px 5px 10px; vertical-align:bottom}
.list1 li img { float:left; margin:10px 11px 5px 0;}
.list1 li span { padding:10px 0 10px 0; display:block;}
.list1 li label {color: #39A144;text-decoration: none;margin-left: 0px;font-weight: bolder}
.list1 li a { color:#084263; text-decoration:none;font-weight:bold;}
.list1 li a:hover,.list2 li a:hover { color:#39A144;}

.list2 { width:100%; overflow:hidden;}
.list2 li.first { padding-top:0; background:none;}
.list2 li {color:#fff; /*rmera 19/12/2012*//*background:url(../images/divider.gif) repeat-x top;*/ padding:15px 8px 17px 10px; position:relative;}
.list2 li img { float:left; margin:10px 11px 5px 0;}
.list2 li a { color:#084263; text-decoration:none;}

.list3 {position:relative; margin-top:-18px; padding-bottom:9px;}
.list3 li {/*rmera 19/12/2012*//* background:url(../images/divider.gif) repeat-x bottom; */padding-bottom:1px;}
.list3 li a { color:#fff; text-decoration:none; display:block; padding:13px 8px 15px 10px; position:relative;}
.list3 li a:hover { background:#ffa000;}

.list4 li { background:url(../images/marker-1.gif) no-repeat left 5px; padding:0 0 4px 12px; font-size:.92em; color:#fa7400;}
.list4 li a { text-decoration:none; color:#666;}
.list4 li a:hover { text-decoration:underline;}


/*==================other====================*/
.img-box1 { width:100%; overflow:hidden;}
.img-box1 img { float:left; margin:6px 11px 6px 0;}

.p1 { margin-bottom:14px;}

.phone { float:right; margin-right:100px;}


/*==================txt, links, lines, titles====================*/
a {color:#084263;}
a:hover{text-decoration:none;}

h3 { color:#084263; font-size:1em; margin-bottom:12px;}
h4 { color:#fa7400; font-size:.92em; font-weight:normal; margin-bottom:5px;}  
h4 a { color:#fa7400; background:url(../images/marker-1.gif) no-repeat left 5px; padding-left:12px; text-decoration:none;} 
h4 a:hover { text-decoration:underline;}

#content p.txt1 { font-size:.92em; line-height:1.27em;}
.txt2 { color:#894c24; font-weight:bold;}
.submit{
	display:block;
	text-align:center; 
	color:#fff;
	text-decoration:none;
	width:auto;
	padding:4px 5px;
	
	background: #39A144;
	border-top: 1px solid #39A144;
	border-bottom: 1px solid #39A144;
	border-left: 1px solid #39A144;
	border-right: 1px solid #39A144;
	-moz-box-shadow: 0 8px 18px -11px #000;
	-webkit-box-shadow: 0 8px 18px -11px black;
	box-shadow: 0 8px 18px -11px black;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;	 
}
.link a:hover, .submit:hover{
	background: #39A144;
	border-top: 1px solid #39A144;
	border-bottom: 1px solid #666;
	border-left: 1px solid #39A144;
	border-right: 1px solid #666;
	-moz-box-shadow: 0 8px 18px -11px #000;
	-webkit-box-shadow: 0 8px 18px -11px black;
	box-shadow: 0 8px 18px -11px black;
}
.link a{
	text-align:center; 
	color:#fff;
	text-decoration:none;
	width:40px;
	padding:2px 5px;
	
	background: #39A144;
	border-top: 1px solid #39A144;
	border-bottom: 1px solid #666;
	border-left: 1px solid #39A144;
	border-right: 1px solid #666;
	-moz-box-shadow: 0 8px 18px -11px #000;
	-webkit-box-shadow: 0 8px 18px -11px black;
	box-shadow: 0 8px 18px -11px black;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;	 
}

.link1 { display:block; float:left; background:url(../images/link1-bgd.gif) left top repeat-x; color:#fff; text-decoration:none;}
.link1 em { display:block; background:url(../images/link1-left.gif) no-repeat left top;}
.link1 b { display:block; background:url(../images/link1-right.gif) no-repeat right top; padding:2px 15px 2px 15px; font-weight:normal; font-style:normal;}
.link1:hover { text-decoration:underline;}

.divider { background:url(../images/divider-1.gif) repeat-y center top; width:100%;}
#content .divider .indent { padding:0 0 15px 0;}
#content .divider .indent1 { padding:15px 0 0 0; margin-bottom:14px;}
.line-hor { border-bottom:1px solid #d8cabb; margin:22px 0 16px 0; font-size:0; line-height:0; width:100%;}
.line-hor1 { font-size:0; height:1px; background:url(../images/divider-2.gif) repeat-x top;}
.line-hor2 { font-size:0; height:1px; background:url(../images/divider-2.gif) repeat-x top; margin:20px 0;}

.title { margin-bottom:13px;}


/*==================boxes====================*/
.title-box { position:relative; z-index:2;color:#fff;}
.title-box .left { background:url(../images/title-left.gif) no-repeat left top;}
.title-box .right { background:url(../images/title-right.gif) no-repeat right top; padding:0 9px 0 9px;}
.title-box .tail { background:url(../images/title-tail.gif) repeat-x top; width:100%; height:38px; overflow:hidden;}
.title-box .fleft { padding:11px 0 0 5px;}
.title-box .fright { padding:9px 0 0 0;}
.title-box .rss { float:right; padding:11px 3px 0 0;}

.box { background:url(../images/box-tail.png); top:-8px; position:relative; margin-bottom:12px;}
.box .inner { padding:20px 0 8px 0;}

.box1 .left-top-corner { background:url(../images/left-top-corner.png) no-repeat left top; height:15px; padding-left:15px;}
.box1 .right-top-corner { background:url(../images/right-top-corner.png) no-repeat right top; height:15px; padding-right:15px;}
.box1 .border-top { background:url(../images/border-top1.png) left top repeat-x; height:15px; }

.box1 .left-bot-corner { background:url(../images/left-bot-corner.png) no-repeat left bottom; height:15px; padding-left:15px; font-size:0; line-height:0;}
.box1 .right-bot-corner { background:url(../images/right-bot-corner.png) no-repeat right bottom; height:15px; padding-right:15px; font-size:0; line-height:0;}
.box1 .border-bottom { background:url(../images/border-bot1.png) left bottom repeat-x; height:15px; width:100%; font-size:0; line-height:0;}

.box1 .border-left { background:url(../images/border-left.png) left top repeat-y; padding-left:9px;}
.box1 .border-right { background:url(../images/border-right.png) right top repeat-y; padding-right:9px;}
.box1 p { color:#084263; line-height:1.17em;}
.box1 .indent { padding:27px 17px 8px 17px;}
.box1 .indent1 { padding:0 25px 0 17px;}

.box1 .xcontent { background:#fcf0e2; padding-bottom:30px; overflow:hidden;}


/*header*/
#header .row-1 { width:100%; overflow:hidden; height:9px;}
#header .row-1 .fleft { padding:9px 0 0 36px;}
#header .row-1 .fleft a { color:#ccc; text-decoration:none;}
#header .row-1 .fleft a:hover { text-decoration:underline;}
#header .row-1 .fright { padding:10px 26px 0 0;}
#header .row-2 { width:100%; overflow:hidden; height:141px; margin-bottom:10px;}
#header .row-2 .fleft { padding:20px 0 0 42px;}
/*rmera Modifico padding:59px*/
#header .row-2 .fright { padding:40px 24px 0 0;}
/*----------------------*/
#header .row-3 { padding:0 55px 0 55px;}

/*content*/
#content { min-height:380px; padding:0px 8px 8px 8px;}

/*footer*/
#footer p { text-align:center; color:#fff; padding-top:22px;}
#footer p a {  color:#fff; text-decoration:none;}
#footer p a:hover { text-decoration:underline;}

/*==========================================*/
.ffleft{float:left;}


/*====rmera ucLogin======================*/
.ucloginstyle 
{
    border-top: 1px solid #79BC41;
	border-bottom: 1px solid #79BC41;
	border-left: 1px solid #79BC41;
	border-right: 1px solid #79BC41;
	-moz-box-shadow: 0 0 8px -1px #fff;
	-webkit-box-shadow: 0 0 8px -1px white;
	box-shadow: 0 0 8px -1px white;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding:5px;
	height:59px;
}

.ucloginstyle p
{
    font-family: Arial,Regular;
    font-size: 13px;
   
    color: #dfdfdf;
    font-weight: normal;
    margin-bottom: -4px;
}
.ucloginstyle span.spanname
{
    font-family: Arial,Regular;
    font-size: 13px;
   
    color: #79BC41;
   
    font-weight:bold;
    margin-bottom: -4px;
    
}
.ucloginstyle span.spanemail
{
    font-family: Arial,Regular;
    font-size: 11px;
   
    color: #79BC41;
    font-weight: normal;
    font-style:oblique;
    margin-bottom: -4px;
    
}
.ucloginstyle .ffleft a
{
    padding:2px;
    display:block;
    width:58px;
    height:55px;
    margin-right:6px;
}
.ucloginstyle .ffleft .ImgLogin
{
    padding:2px;
    margin-right:6px;
    
}
.ucloginstyle .ffleft img.ImgLogin 
{
   width:52px;
   height:52px; 
}
.ucloginstyle .ffleft a
{
        text-decoration:none;
}
.ucloginstyle .ffleft .logout
{
    font-family: Arial,Regular;
    font-size:11px;
    color:White;
    background:#39A144;
    border-top: 1px solid #39A144;
	border-bottom: 1px solid #39A144;
	border-left: 1px solid #39A144;
	border-right: 1px solid #39A144;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    padding:1px;
    
}
.ucloginstyle .ffleft li
{
    margin-bottom:7px;
}
/*====rmera======================*/
/*==============rmera Login ==================*/
.divContentLogin
{
    width: 484px;
    margin: 0 auto;
    
}
#login-box {
	width:333px;
	height: 352px;
	padding: 58px 76px 0 76px;
	color: #ebebeb;
	font: 12px Arial, Helvetica, sans-serif;
	background: url(images/login-box-backg.png) no-repeat left top;
	
}


#login-box h2 {
	padding:0;
	margin:0;
	color: #ebebeb;
	font: bold 44px "Calibri", Arial;
}


#login-box-name {
	float: left;
	display:inline;
	width:80px;
	text-align: right;
	padding: 14px 10px 0 0;
	margin:0 0 7px 0;
}

#login-box-field {
	float: left;
	display:inline;
	width:230px;
	margin:0;
	margin:0 0 7px 0;
}

.form-login  {
	width: 205px;
	padding: 10px 4px 6px 3px;
	border: 1px solid #0d2c52;
	background-color:#1e4f8a;
	font-size: 16px;
	color: #ebebeb;
}


.login-box-options  {
	clear:both;
	padding-left:87px;
	font-size: 11px;
	display:block;
	
}

.login-box-options a {
	color: #ebebeb;
	font-size: 11px;
	margin-left:5px;
	font-style: italic;
    text-decoration: none;
}
.login-box-options a:hover
{
    font-style:normal;
    text-decoration:underline;
}
.linkbottom
{
    margin-left:30px;
}
.loginmargin
{
    margin-top:20px;
}
.imgbtnbottom
{
    background: transparent;
    border: none;
    margin-left:122px;
}
.centerFormHome
{
    width:900px !important;
    margin:0 auto;
    height:auto;
}
.centerFormHome .myForm1
{
    width:900px !important;

 }
/*cart*/
#cart {
background: #FFF200;
background: -moz-linear-gradient(top, #FFF200 0%, #F7CF00 100%);
background: -webkit-linear-gradient(top, #FFF200 0%, #F7CF00 100%);
background: -ms-linear-gradient(top, #FFF200 0%, #F7CF00 100%);
background: linear-gradient(top, #FFF200 0%, #F7CF00 100%);
-moz-border-radius: 0 0 5px 5px ;
-webkit-border-radius: 0 0 5px 5px;
-ms-border-radius: 0 0 5px 5px ;
border-radius: 0 0 5px 5px;
/*bottom: 0;*/
height: 44px;
position: absolute;
/*right: 0;*/
/*width: 180px;*/
z-index: 300;
/*AKCL_PPADILLA_4805_BEGIN*/
margin-top: -6px;
/*end*/
}



#cart a {
color: #003B64;
display: block;
font-size: 14px;
height: 44px;
line-height: 44px;
text-decoration: none;
/*width: 104px;*/
/*padding: 0 10px;*/
overflow: hidden;
cursor: pointer;
}

#cart .cart-icon {
text-indent: -99999px;
width: 50px;
height: 32px;
display: block;
float: left;
margin: 7px 6px 0 0;
line-height: 1;
background: url(../images/shopping-cart.png) top center no-repeat;
}

span.cart-icon {
background-position: -41px 0px;
}

#cart .cart-items {
float: left;
white-space: nowrap;
}

#cart a {
color: #003B64;
font-size: 14px;
line-height: 44px;
cursor: pointer;
}

#cart .cart-items {
white-space: nowrap;
padding-right: 10px;
}
/*==========================================*/



/*NEW WEBFORMS - ADD BY EDER
***************/

/*#setupsities-content
{
    width: 1240px;
    border: 1px solid #cecece;
    margin: 30px auto;
    position: relative;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
}


#setupsities-content #language-options
{
    width: 325px;
    position: absolute;
    top: 10px;
    right: 194px;
    padding-left: 20px;
}

#setupsities-content #language-options #options
{
    margin: 3px 0px 3px 142px;
}

#setupsities-content #language-options #options img
{
    position: relative;
    top: 2px;
}

#setupsities-content #language-options #options input
{
    position: relative;
    bottom: 2px;
    border: none;
}

#setupsities-content #language-options #options a
{
    text-transform: uppercase;
    color: #1a8eca;
    font-size: 10px;
    text-decoration: none;
}

#setupsities-content #language-options #options li
{
    float: left;
    margin: 2px 4px 2px 4px;
}

#asea-menu
{
   padding: 35px 5px 35px 5px;
}

#asea-menu #ContentPlaceHolder_ContentPlaceHolder2_RightContentPlaceHolder_menu
{
    width: 1024px;
    margin: 0 0 0 10px;
    height: 100px;
    border: 1px solid #cecece;
    background: #1a8eca;
    border-radius: 9px;
    -webkit-border-radius: 9px;
}

#asea-menu #ContentPlaceHolder_ContentPlaceHolder2_RightContentPlaceHolder_menu li
{
    float: left;
    margin: 30px 8px 0 48px;
    color: Green; 
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 32px;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
    position: relative;
    text-align: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

#asea-menu #menu li img
{
    position: relative;
    top: 8px;
    margin-left: 8px;
}

/*#asea-menu #menu li:hover
{
    margin: 29px 12px 0 12px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border: 1px solid #d4d4d4;
}

.container-buttons
{
    position: absolute;
    right: 198px;
    bottom: 2px;
}

.container-buttons input
{
    width: 75px;
    height: 30px;
}

.tabs-options
{
    width: 100px;
    height: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #cecece;
    padding: 4px 0 0 5px; 
    position: absolute;
    z-index: 999;
    bottom: 9px;
}

.tabs-options ul li
{
    float: left;
    margin: 0 13px 0 5px;
}

.tabs-options ul input
{
    border: none;
    width: 15px;
    height: 15px;
}

.close-icon input
{
    position: absolute;
    top: -2px;
    right: -2px;
    width: 10px;
    height: 10px;
    border: none;
}

#container-submenus
{
    width: 305px; 
    height: 299px;  
    border: 1px solid #cecece;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    margin-left: 45px;
    margin-bottom: 30px;
    float: left;
}


#container-submenus li
{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #cecece;
    width: 165px;
    height: 40px;
    text-align: right;
    margin: 5px 20px 5px 20px;
    text-transform: uppercase;
    color: #1a8eca;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 32px;
    font-size: 12px;
    position: relative;
    padding-right: 100px;
}

#container-submenus li img
{
    position: relative;
    top: 12px;
    margin-left: 4px;
    width: 15px;
    height: 15px;
}

#container-submenus li input
{
    position: relative;
    top: 2px;
    margin-left: 4px;
    width: 15px;
    height: 15px;
    border: none;
}

#right-part
{
    margin-left: 25px;
    display: inline-block; 
    width: 770px; 
    height: 525px; 
    border: 1px solid #cecece;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

#option-thirdparty
{
	position: absolute;
	top: 19px;
	left: 20px;
}

#option-thirdparty a
{
	text-decoration: none;
	color: #1a8eca;
	font-size: 10px;
	text-transform: uppercase;
}

#message_row
{
    display:none;
}*/




 
/* New css Styles for Eder's forms
**********************************/
.container-menunav
{
	width: 1000px;
	border: 1px solid #cecece;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    padding: 5px;
    position: relative;
}

.container-menunav .list-menunav
{
	width: 100%;
	height: 50px;
	margin-top: 15px;
	background: #1a8eca;
	border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
}

.container-menunav .list-menunav .menunav-item
{
	float: left;
	border: 1px solid #cecece;
	color: White; 
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 32px;
    font-size: 10px;
    text-align: center;
    margin: 8px 0 0 3px;
    position: relative;
	text-decoration: none;
	margin-left: 5px;
    background-color: rgba(26, 142, 202, 0.72);
    overflow: hidden;
	
}

.home { width: 101px!important;}
.product { width: 199px!important; }
.science { width: 170px!important; }
.opportunity { width: 235px!important; }
.company { width: 140px!important; }
.join { width: 90px!important; }
.order { width: 90px!important; }


/*.txthome { width: 60px!important; margin: 7px auto!important;}
.txtproduct { width: 169px!important; margin: 7px auto!important; }
.txtscience { width: 140px!important; margin: 7px auto!important; }
.txtopportunity { width: 205px!important; margin: 7px auto!important; }
.txtcompany { width: 110px!important; margin: 7px auto!important; }
.txtjoin { width: 60px!important; margin: 7px auto!important; }
.txtorder { width: 60px!important; margin: 7px auto!important; }*/


.submenus-options
{
    position: absolute;
    right: 2px;
    top: 8px;
    background-color: #1a8eca;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

input[type=image]
{
	border: 0;
}

.container-menunav .list-menunav .menunav-item input[type=image]
{
	width: 15px;
    height: 15px;
}

.container-menunav .list-menunav .menunav-item .vertical-menu
{

}

.container-menunav .list-menunav .menunav-item .vertical-menu .item
{
	position: relative;
	font-size: 9px;
	padding: 1px 0 0 3px;
	text-align: left;
	text-decoration: none;
}

.container-menunav .list-menunav .menunav-item span
{
    cursor: pointer;
    font-size: 12px;
}

.setupsite-button
{
    margin: 10px 0px 0px -178px;
}

.language-items
{
    margin-bottom: 5px;
    width: 125px;
    display: inline-block;
}

.language-items a
{
    text-transform: capitalize;
    color: #1a8eca!important;
    font-size: 10px;
    text-decoration: none;
    margin-left: 5px;
}

.language-items img
{
    position: relative;
    top: 3px;
    width: 16px;
}

#language-options
{
    width: 165px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#language-options #options img
{
    position: relative;
    top: 3px;
    width: 16px;
}

#language-options #options a
{
    text-transform: uppercase;
    color: #1a8eca;
    font-size: 10px;
    text-decoration: none;
}

#language-options #options li
{
    float: left;
    margin: 2px 0px 0px 5px;
}

.nav-upper
{
    /* text-transform: uppercase; */    
}

.pressroom-lngtext
{
    font-size: 18px;
    font-weight: normal;
    color: #ff9900
}


.menu-grid
{
    overflow: hidden;

}
.menu-grid-item
{
    width: 120px;
    margin: 20px;
    }

.menu-grid-item p
{
    margin-top:10px;
    text-align:center;
    line-height: 14px!important;
    }


.menu-grid-item-img
{
    margin: 0 auto;
width: 64px;
    }
    

.selectallchk-country
{
    left: 820px;
    top: 31px;
    position: absolute;
    z-index: 2;
}


.selectallchk-language
{
    left: 645px;
    top: 31px;
    position: absolute;
    z-index: 2;
}

.replication-traslation-btn
{
	width: 700px;
	height: 60px;
	margin-left: 188px;
}
.replication-traslation-btn2
{
	width: 152px;
	height: 52px;
	margin-left: 130px !important;
}

.grid-container
{
	margin-top: 20px;
}

.more-right
{
	right: 180px!important;
}

.first-containt
{
	background: url(/Private/replication/src/img/toolbar.png) repeat-x; 
	width: 100%;
	height: 28px;
}

.first-containt .items
{
	width: 604px;
	margin: 0 auto;
	padding: 5px 0 0 530px;
	text-decoration: none;
	color: #1a8eca;
	font-weight: bold;
}

.first-containt .items-nro
{
	display: inline-block;
	width: 170px;
}

.first-more-editimg
{
	right: 25px!important;
}

.second-containt
{
	background: url(/Private/replication/src/img/toolbar_b.png) repeat-x; 
	width: 100%;
	height: 60px;
}

.second-containt .items
{
	width: 604px;
	margin: 0 auto;
	text-transform: uppercase;
	font-size: 10px;
	color: #ffffff;
	cursor: pointer;
	padding: 20px 0 0 15px;
}

.second-more-editimg
{
	right: 460px!important;
}

.container-imgs
{
	overflow: hidden;
	height: 1%;
}

.third-containt
{
	width: 604px; 
	margin: 0 auto; 
	padding: 0 0 0 690px;
}

.third-containt .items
{
	width: 140px;
	text-decoration: none;
	color: #1a8eca;
	font-weight: bold;
}

.tag-popup 
{
    color: #1a8eca!important;
    font-size: 11px;
    cursor: pointer;
}

.search-button 
{
    position: absolute;    
}

.MTop 
{
    margin-top: 10px;
}

.xview-publishcolorP
{
    background-color: rgb(207, 50, 50)!important;
}

.xview-publishcolorU
{
    background-color: rgb(82, 173, 74)!important;
}

.hide{display:none;}
#loader-box
{
    background: url(/src/images/loading.gif) no-repeat center 29% rgba(39, 93, 119, 0.32);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

.gmap3
{
    /*margin: 20px auto;*/
    border: 1px dashed #C0C0C0;
    width: 606px;
    height: 391px;
    margin-top: -350px;
    margin-left: 450px;
}

.spacerH 
{
    width: 20px;
}

.spacerV 
{
    width: 20px;
}

.myForm1_buttons_left 
{
    margin-top: 20px;
    padding: 5px;
}

.marginbutton
{
    margin-bottom: 10px;
}

.inlineblock 
{
    display: inline-block;
}

.pointer 
{
    cursor: pointer;
}

.moreleft 
{
    margin-left: 205px!important;
}

#container_sites 
{
    padding: 15px 0 15px 0; 
    min-height: 100px;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px #888;
    -moz-box-shadow: 1px 1px 5px #888;
    box-shadow: 1px 1px 5px #888;
}

#container_sites .center-container
{
    width: 900px;
    margin: 0 auto;
}

.menu-separator {

    border-bottom: 1px solid #084263;
    width: 148px;
    margin: 0 auto;
}
.decoration {
    text-decoration:underline;
}

.newsearch {
    cursor:pointer;
    padding:5px;
}

.divScroll {
width: auto;
height: 350px;
overflow: auto;
}
#viewchart {
-webkit-transition: all 1s ease-in-out;
-webkit-transform-origin: 0px 0px;
/*cursor: pointer;*/
}
.disabled{
    background-color:#ddd !important;
}

.menu-selected {    
/*rmera 19/12/2012*/
/*padding:10px;*/padding:5px;
	background: #39A144;
	border-top: 1px solid #39A144;
	border-bottom: 1px solid #39A144;
	border-left: 1px solid #39A144;
	border-right: 1px solid #39A144;
	-moz-box-shadow: 0 8px 18px -11px #000;
	-webkit-box-shadow: 0 8px 18px -11px black;
	box-shadow: 0 8px 18px -11px black;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;	
    color:#fff!important;
}

/*#HeaderRightPlaceHolder_ucLogin1_imgProfile {

    background:url(/src/images/loggedin_home_header1.png) !important;
}*/

.icoform {

    margin: 0px 11px;
}

/*Estilos para ajustar spinner*/

.ui-spinner a.ui-spinner-button {
    border-top: 0 !important;
    border-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-right: 0 !important;
    width: 0px !important;
    height: 0px !important;
}


.ui-spinner .ui-icon {
    position: absolute !important;
    margin-top: -8px !important;
    margin-left: 4px !important;
    top: 50% !important;
    left: 0 !important;
}


.row a{
    padding-left: 9px !important;
    padding-bottom: 4px !important; 
}

.textspinner {
    width: 77px !important;
    height: 15px;
    font-size: 1em !important;
    margin: 0 !important;
    padding: 0px 0px 0px 7px !important;
}

.ui-spinner {
    color: black !important;
}


.appXSS{
   
}
.appXSS a:link{
    text-decoration:none !important;
}
.appXSS a:hover{
    color:#f1f1f1 !important
}


/*GOAL*/
.Form_Textarea_w300_500c {
    max-width:300px !important;
    max-height: 188px !important;
}
.GoalPic {
    background: rgba(0, 0, 0, .3);
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .07);
    background-color: #fff;
    border:1px solid #D8DDDF;


    display: block;
    padding: 1px;
    float:left;
    margin-left:209px;
    width:207px;
    min-height: 120px;
}
.GoalPic img{
  
    margin:5px auto;
    display:block;

    max-width: 160px;
    background-color: #fff;
   
    -webkit-border-radius: 2px;
}

.container_grids {
    margin:10px;
}

/*
    *******************/
.Goals_Preview {
    position:relative;
    margin:0 10px;
    overflow:hidden;
    padding:5px 0;
    /*max-width:58%;*/

    /*text-shadow: 1px 1px 0px #fff;*/
    background: #f1f1f1;
    margin: 20px;
    border: #ccc 1px solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;


    /*-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
    border-right-color: #e1e1e1 !important;
    border-left-color: #e1e1e1;
    
    
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;*/
}
.nav_goals_results {
    position:absolute;
    right:10px;
    top:18px;
    display:block;
    width:auto;
}
.nav_goals_results > li{
    float:left; 
}
.nav_goals_results > li > span{
    font-weight:bold;
    margin-right:10px;
}

.circle{width:15px;height:15px;border-radius:50px;font-size:20px;color:#fff;line-height:100px;text-align:center; margin:0 auto;}
.green {
    background: #39A144;
}
.red {
    background: #c00;
}
.yellow {
    background: #ffd800;
}
/*END GOAL*/
/*icon*/
.ui-icon-note {
background-position: -64px -96px;
}
.searchdst {
    float:left;

    /*margin: 0px 0px 0px 4%;*/
    /*border-right: 2px solid #4898C5;*/
    padding: 10px 10px 30px 10px;


}
.divDashBoard {
    float:left;
    width:400px !important;
    height:auto !important;
    /*background:#39A144;*/
    margin:10px;
    padding:10px;
    position:relative;
}
#btnSearchCriteria {
background: #666;
color: #fff;
border-top: 1px solid #D8DDDF;
border-bottom: 1px solid #D8DDDF;
border-left: 1px solid #D8DDDF;
border-right: 1px solid #D8DDDF;
-moz-box-shadow: 0 8px 18px -11px #000;
-webkit-box-shadow: 0 8px 18px -11px black;
box-shadow: 0 4px 18px -11px black;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
cursor:pointer;
padding:5px 8px;
float: right;
}

.ddlDashBoard {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 15px;
    background: #FFF;
}
#Forload
{
 background: url(/src/images/loadingbonus.gif) no-repeat center 29%  rgba(0, 0, 0, 0.32);
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
z-index: 9999;
}
.hide{display:none;}
.itemlist1 {
    margin-left:15px;
}
.itemlist2 {
    margin-left:30px;
}


.grid-imagerenu {
}
.grid-imagerenu div.container-editmode{
        width: 217px !important;
    float: left;
}
.grid-imagerenu a{
       margin: 0px 21px;
}

.contentul {
    margin-left: 15px;
}
.contentul ul{
    list-style: disc inside;
}
.contentul ul li{
    margin: 3px 0px;
    font-size: 1.2em;  line-height: 19px;  color: #666;
    list-style: inherit;
}
.waysimage2 {
    max-width:180px;
    max-height:400px;
}

.mtprenu{
margin-top: 19px !important;
}
.loadgrid_wait {
    cursor: wait;
}