﻿li.language-items {
    float: left;
    list-style: none;
    width:250px;
}
/*.modal-content {
    display: inline-block;
    padding-bottom: 16px;

}*/
.gridActionBtn {
    padding: 3px;
/*border: 1px solid #7C7C7C;*/
border-radius: 3px;
margin: 3px;
cursor:pointer;
}
li {
    list-style:none;
}
.icon-btn {
height: 70px;
width: 10%;
margin: 10px 0px 10px 0px;
padding: 16px 0px 0px 0px;
font-size: 10px;
background-color: #fff !important;
-webkit-box-shadow: 0 0px 5px #ddd !important;
-moz-box-shadow: 0 0px 5px #ddd!important;
box-shadow: 0 0px 5px #ddd !important;
display: block !important;
color: #646464 !important;
text-align: center;
cursor: pointer;
position: relative;
-webkit-transition: all 0.3s ease !important;
-moz-transition: all 0.3s ease !important;
-ms-transition: all 0.3s ease !important;
-o-transition: all 0.3s ease !important;
transition: all 0.3s ease !important;
float: left;
margin-right: 25px;}
.language-items img {
width: 16px;
height: 11px;
margin-right: 6px;
}
.divstyle {
    padding-top:7px;
}
.circle.green {
    border: 1px solid green;
    width: 25px;
    height: 25px;
    margin: 0 auto;
    border-radius: 14px;
    background-color: green;
}
.circle.yellow {
    border: 1px solid yellow;
    width: 25px;
    height: 25px;
    margin: 0 auto;
    border-radius: 14px;
    background-color: yellow;
}
.circle.red {
    border: 1px solid red;
    width: 25px;
    height: 25px;
    margin: 0 auto;
    border-radius: 14px;
    background-color: red;
}
.circle.lead {
    border: 1px solid darkgray;
    width: 25px;
    height: 25px;
    margin: 0 auto;
    border-radius: 14px;
    background-color: darkgray;
}
.col-sm-str {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}