﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MainLogin.Master" AutoEventWireup="true" CodeBehind="LoginIntranet.aspx.cs" Inherits="CapaPresentacion.common.LoginIntranet" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    	<div class="panel panel-sign">
					<div class="panel-title-sign mt-xl text-right">
						<h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Sign In</h2>
					</div>
					<div class="panel-body">
							<div class="form-group mb-lg">
								<label>Username</label>
								<div class="input-group input-group-icon">
									<%--<input name="username" type="text" class="form-control input-lg" />--%>
                                    <asp:TextBox ID="txtEmail" class="form-control input-lg" runat="server"></asp:TextBox>
									<span class="input-group-addon">
										<span class="icon icon-lg">
											<i class="fa fa-user"></i>
										</span>
									</span>
								</div>
							</div>

							<div class="form-group mb-lg">
								<div class="clearfix">
									<label class="pull-left">Password</label>
									<a href="pages-recover-password.html" class="pull-right">Lost Password?</a>
								</div>
								<div class="input-group input-group-icon">
									<%--<input name="pwd" type="password" class="form-control input-lg" />--%>
                                    <asp:TextBox ID="txtPassword" class="form-control input-lg" runat="server" TextMode="Password" MaxLength="16"></asp:TextBox>
									<span class="input-group-addon">
										<span class="icon icon-lg">
											<i class="fa fa-lock"></i>
										</span>
									</span>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-8">
									<div class="checkbox-custom checkbox-default">
										<input id="RememberMe" name="rememberme" type="checkbox"/>
										<label for="RememberMe">Remember Me</label>
									</div>
								</div>
								<div class="col-sm-4 text-right">
									<%--<button type="submit" class="btn btn-primary hidden-xs">Sign In</button>
									<button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Sign In</button>--%>
                                    <asp:LinkButton ID="btnLogin" class ="btn btn-primary" runat="server" Text="Login"></asp:LinkButton>
								</div>
							</div>

						<%--	<span class="mt-lg mb-lg line-thru text-center text-uppercase">
								<span>or</span>
							</span>--%>

							<%--<div class="mb-xs text-center">
								<a class="btn btn-facebook mb-md ml-xs mr-xs">Connect with <i class="fa fa-facebook"></i></a>
								<a class="btn btn-twitter mb-md ml-xs mr-xs">Connect with <i class="fa fa-twitter"></i></a>
							</div>

							<p class="text-center">Don't have an account yet? <a href="pages-signup.html">Sign Up!</a>--%>
                        <asp:Label ID="lblMensaje" runat="server" Text=""></asp:Label>

					</div>
				</div>
</asp:Content>
